In [1]:
# Importieren der Bibliotheken, die für die Codierung erforderlich sind
from datetime import datetime
import chardet
import pandas as pd

In [2]:
DF_merged = None


def B_Satz2_Zeile_aufsuchen(Tab, spalte1, value):
    """Diese Funktion wählt durch Filtrierung eine Zeile aus B_Satz2 aus
    und setzt diese Zeile unter der Zeile aus dem A_Satz. Damit man die Datensätze entsprechend der Tabellendarstellung 
    der Einreichertdatei. Value ist das Suchkriterium im B_Satz2 wie z.B die Kundennummer."""

    # Zeile aus A_Satz
    erste_Zeile = Tab[Tab[1] == "A"]
    # gewünschte Zeile aus B_Satz2
    zweite_Zeile = Tab[(Tab[1] == "B") & (Tab[spalte1] == value)]
    # Stapeln der Zeilen
    DF = pd.concat([erste_Zeile, zweite_Zeile], axis=0)

    return DF

In [3]:
# Funktion für B14_Pos.2

def Funktion_B14_02(DF, Spalte1, Spalte2):
    """Diese Funktion sucht in DF-230/DSDW0230 nach den Nace-Codes "K64".
      Wenn gefunden, wird in der Spalte B14 an Pos.2 "N" durch "Y" an der zweiten Stelle ersetzt."""

    DF.loc[DF[Spalte1].str.contains("K64.", na=False), Spalte2] = DF[Spalte2].str[:1] + "Y" + DF[Spalte2].str[2:]

    return DF

In [4]:
# Funktion für B14_Pos.3

def Funktion_B14_Pos03(DF1, DF2, Spalte1, Spalte2, Spalte3, Spalte4):
    """Diese Funktion prüft ob, die Werte "CIN", "INS", "INSO", "LI", "NLI", "RI" in der Spalte DF-3386/TPDW3386 vorhanden sind.
       Falls ja, dann wird in der Spalte B14 an Pos.3,  "N" durch "Y" an der zweiten Stelle ersetzt."""

    global DF_merged
    if DF_merged is None:
        DF_merged = DF1.merge(DF2, left_on=Spalte1, right_on=Spalte2, how="left")
    DF_merged = DF1.merge(DF2, left_on=Spalte1, right_on=Spalte2, how="left")
    DF_merged.loc[DF_merged[Spalte3].isin(["CIN", "INS", "INSO", "LI",
                                           "NLI", "RI"]), Spalte4] = DF_merged[Spalte4].str[:2] + "Y" + DF_merged[Spalte4].str[3:]

    return DF_merged[DF1.columns]

In [5]:
# Funktion für B14_Pos.5

def Funktion_B14_05(DF1, DF2, Spalte1, Spalte2, Spalte3, Spalte4):
    """Diese Funktion prüft ob, die Werte "CGOV", "LGOV", "CGOV" in der Spalte DF-3386/TPDW3386 vorhanden sind.
       Falls ja, dann wird in der Spalte B14 an Pos.5,  "N" durch "Y" an der fünften Stelle ersetzt."""
    global DF_merged
    if DF_merged is None:
        # Merge DF1 und DF2 um die Werte in Spalte DF-3386/TPDW3386 zu prüfen und "N" durch "Y" zu ersetzen
        DF_merged = DF1.merge(DF2, left_on=Spalte1, right_on=Spalte2, how="left")
    DF_merged.loc[DF_merged[Spalte3].isin(["CGOV", "LGOV", "SGOV"]), Spalte4] = DF_merged[Spalte4].str[:4] + "Y" + DF_merged[Spalte4].str[5:]

    return DF_merged[DF1.columns]

In [6]:
# Funktion für B14 Pos.6

def Funktion_B14_06(DF, Spalte1, Spalte2):
    """Diese Funktion sucht in DF-230/DSDW0230 nach den Nace-Codes, die "K66" enthalten.
       Falls gefunden, wird in der Spalte B14 an Pos.6 "N" durch "Y" an der sechsten Stelle ersetzt."""

    DF.loc[DF[Spalte1].str.contains("K66.", na=False), Spalte2] = DF[Spalte2].str[:5] + "Y" + DF[Spalte2].str[6:]

    return DF

In [7]:
# Funktion für B14 Pos.7

def Funktion_B14_07(DF1, DF2, Spalte1, Spalte2, Spalte3, Spalte4):
    """Diese Funktion sucht in TPDW3386  nach dem Wert "PEN".
       Falls gefunden, wird in der Spalte B14 an Pos.7 "N" durch "Y" an der siebten Stelle ersetzt."""
    # Bedingung um zu prüfen, ob "PEN" vorhanden ist und "N" durch "Y" ersetzen
    #global DF_merged
    #if DF_merged is None:
    DF_merged = DF1.merge(DF2, left_on=Spalte1, right_on=Spalte2, how="left")
    DF_merged.loc[DF_merged[Spalte3] == "PEN", Spalte4] = DF_merged[Spalte4].str[:6] + "Y" + DF_merged[Spalte4].str[7:]

    return DF_merged[DF1.columns]

In [8]:
# Funktion für die Unterposition Pos.10 von B14

def Funktion_B14_Pos_10(DF1, DF2, Spalte1, Spalte2, Spalte3):
    """Diese Funktion prüft, ob ein Kunde in der Money Laundery Entittät vorhanden ist,
    und tauscht in der Unterposition Pos.10 von B14 "N" mit "Y", 
    falls die Prüfung positiv ist"""

    # Merge der beiden Tabelle basierend auf Übereinstimmung in der Spalte1
    DF_local_merged = DF1.merge(DF2, left_on=Spalte1, right_on=Spalte2, how="inner")
    #Ersetze "N" durch "Y" in Spalte2 entsprechend des Merge
    DF1.loc[DF_local_merged.index, Spalte3] = DF1.loc[DF_local_merged.index, Spalte3].str[:9] + "Y" + DF1.loc[DF_local_merged.index, Spalte3].str[10:]

    return DF1

In [10]:
def B_Satz2_Zeile_aufsuchen(Tab, spalte1, value):
    """Diese Funktion wählt durch Filtrierung eine Zeile aus B_Satz2 aus
    und setzt diese Zeile unter der Zeile aus dem A_Satz. Damit man die Datensätze entsprechend der Tabellendarstellung 
    der Einreichertdatei. Value ist das Suchkriterium im B_Satz2 wie z.B die Kundennummer."""

    # Zeile aus A_Satz
    erste_Zeile = Tab[Tab[1] == "A"]
    # gewünschte Zeile aus B_Satz2
    zweite_Zeile = Tab[(Tab[1] == "B") & (Tab[spalte1] == value)]
    # Stapeln der Zeilen
    DF = pd.concat([erste_Zeile, zweite_Zeile], axis=0)

    return DF

In [11]:

def naechsterwert2(DF, Spalte1, Spalte2):
    """Diese einfache Funktion gibt dir den nächsten in einer Tabelle"""

    return DF[Spalte2][DF[Spalte1].isin(DF[Spalte1])]

In [12]:
# Funktion um Spalte zu ersetzen
def Spalte_umbennen(DF, alte_Spalte, neue_Spalte):
    return DF.replace(alte_Spalte, neue_Spalte)

In [13]:
def func_neu_C4(DF1, DF2, Spalte1, Spalte2, Spalte3):
    """ Diese Funktion........."""

    global DF_C_MERGED
    if DF_C_MERGED is None:
        DF_C_MERGED = DF1.merge(DF2, left_on=Spalte1, right_on=Spalte2, how="left")
    DF_C_MERGED["A"] = "N"
    DF_C_MERGED.loc[(DF_C_MERGED[Spalte3] == "BO"), "A"] = "Y"

    Ergebnisspalte = DF_C_MERGED["A"]

    return Ergebnisspalte

In [14]:
def func_neu_C5(DF1, DF2, Spalte1, Spalte2, Spalte3):
    """Diese Funktion......"""
    global DF_C_MERGED
    if DF_C_MERGED is None:
        DF_C_MERGED = DF1.merge(DF2, left_on=Spalte1, right_on=Spalte2, how="left")
    DF_C_MERGED["B"] = 0
    DF_C_MERGED.loc[(DF_C_MERGED[Spalte3] == "CR"), "B"] = 1

    # Group data
    DF_grouped = DF_C_MERGED.groupby(Spalte1)["B"].sum().reset_index()

    return DF_grouped["B"]

In [15]:
def Funktion_C15(DF1, DF2, Spalte1, Spalte2, Spalte3, Spalte4):
    """Diese Funktion ....."""

    merged = DF1.merge(DF2, left_on=Spalte1, right_on=Spalte2, how="left")

    condition = merged[Spalte3] == "0"

    DF1[Spalte4] = "N"
    DF1.loc[condition, Spalte4] = "Y"

    return DF1[Spalte4]

In [16]:
def Funktion_C27(row):
    """Diese Funktion ist definiert entsprechend der Spezifikation"""

    # Wert: 90 - Ohne Ausschluss
    if all(row['B14'] == 'N') and all(row['C20'] == 'N'):
        return '90'

    # Wert: 01 - Ausschluss nur nach EinSiG
    if any(row['B14'][0:15] == 'Y') and all(row['B14'][15:50] == 'N') and all(row['C20'][10:50] == 'N'):
        return '01'
    elif any(row['C20'][0:10] == 'Y') and all(row['C20'][10:50] == 'N') and all(row['B14'][15:50] == 'N'):
        return '01'

    # Wert: 20 - Ausschluss nur nach ESF-Statut
    if any(row['B14'][30:50] == 'Y') and all(row['B14'][0:30] == 'N') and all(row['C20'][0:30] == 'N'):
        return '20'
    elif any(row['C20'][30:50] == 'Y') and all(row['C20'][0:30] == 'N') and all(row['B14'][0:30] == 'N'):
        return '20'

    # Wert: 11 - Ausschluss "Bagatellgrenze" nach EinSiG und ESF-Statut
    if all(row['C20'][1:49] == 'N') and row['C20'][49] == 'Y':
        return '11'

    # Wert: 10 - Ausschluss nach EinSiG und ESF-Statut (alle anderen Fälle)
    return '10'

In [17]:
#"../files

path = "../../DE1D_2023_06_13"

In [18]:
# Path zur Directory, wo alle einzulesenden Dateien vorhanden sind

##########################################-I Einlesen Der Daten-####################################################################################
# Einlesen der Business Partner und Business Partner act in Liability und die Money Laundery-Entitäten. 
# Dateien, die wir für den Aufbau des B-Satzes benötigen
# Nach dem Einlesen muss entsprechend der Entitäten die neue Spalte KYDW0007, KYDWR50880 und KYDWR5469O erzeugt werden,  entsprechend den Testdaten
# Z.B KYDW0007 ist eine Kombination der Spalten KDW0007 und KDW0007O

# 1. Einlesen der Business Partner-Entität


DF_BP = pd.read_csv(path + "/BPART.csv", sep="\t", skiprows=9)
# KYDW0007 wird durch eine "Join" der Spalten KDW0007 und KDW0007O. Die Spalte wird am Ende des Dataframes hinzugefügt 
DF_BP["KYDW0007"] = DF_BP[["KDW0007O", "KDW0007"]].astype(str).agg("/".join, axis=1)
# Die neue KYDW0007-Spalte wird am Anfang des Dataframes hingefügt 
first_column = DF_BP.pop("KYDW0007")
DF_BP.insert(2, "KYDW0007O", first_column)
# Das neue Dataframe wird ausgefürt 

DF_BP

# Einlesen der Datei  "Datei_TPDW3386", die die Spalte TPDW3386 enthält.Diese Spalte wird benötigt, damit man die Codes der Unterpositionen  Pos.05 und Pos.7 der B14-Spalte ausführen kann. 
# In "Datei_TPDW3386" heisste die Spalte "TPGC33886". Die Spalte wird jedoch in den DataFrame "DF_BP" als "TPDW3386" eingefügt.

# Einlesen der Datei mit der Spalte TPDW3386.


# Im B-Satz sollten die Kunden als Creditor vorhenden sein. Aus diesem Grund verbinden wir die Business Partner Entität und die Business Partner act in Liability. 
# Dann filtrieren wir die den gemerged Dataframe auf die Kundennummer versehen mit "CR". Die erhaltenen Kundennummern mit "CR" werden dann 
# Die erhaltenen Kundennummern mit "CR" werden dann in den B_Satz in die Spalte "B2" eingefügt.

# Merge Business Partner und Business Partner act in Liability Entität

,KDW0007O,KDW0007,KYDW0007O,KDW0717,KDW0719,TPDW0235,TPDW0026,DSDW0366,KDW0325,KDW3153,...,TPDW5470,TPDW5506,TPDW5468,TPDW5483,TPDW0882,TPDW4438,TPDW5560,KDWR5566O,KDWR5566,DSDW4456
0,TRSRYDE1-BP,103597387,TRSRYDE1-BP/103597387,DE1D-20230612-1-INT1,DE1D,I-ORG,C,16815284.0,NaN,HRB33615-M1201,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Helaba Invest Kapitalanlagegesellschaft mbH
1,TRSRYDE1-BP,104044196,TRSRYDE1-BP/104044196,DE1D-20230612-1-INT1,DE1D,I-ORG,C,NaN,529900GJD3OQLRZCKW37,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Volkswagen Bank GmbH Surcusal en Espana
2,TRSRYDE1-BP,104140197,TRSRYDE1-BP/104140197,DE1D-20230612-1-INT1,DE1D,I-ORG,C,NaN,529900GJD3OQLRZCKW37,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Volkswagen Bank GmbH Milan Branch
3,TRSRYDE1-BP,104393282,TRSRYDE1-BP/104393282,DE1D-20230612-1-INT1,DE1D,I-ORG,C,24597189.0,529900H2QI9WGGEF7277,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Volkswagen Dogus Finansman A.S.
4,TRSRYDE1-BP,104413531,TRSRYDE1-BP/104413531,DE1D-20230612-1-INT1,DE1D,I-ORG,C,NaN,851WYGNLUQLFZBSYGB56,HRB32000-M1201,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Commerzbank AG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,TRSRYDE1-BP,78303574,TRSRYDE1-BP/78303574,DE1D-20230612-1-INT1,DE1D,I-ORG,C,21338686.0,529900SEOICVR2VM6Y05,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Deutsche Bundesbank
88,TRSRYDE1-BP,80684923,TRSRYDE1-BP/80684923,DE1D-20230612-1-INT1,DE1D,I-ORG,C,26164541.0,52990002O5KK6XOGJ020,HRA15277-R1101,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NRW.BANK
89,TRSRYDE1-BP,94534010,TRSRYDE1-BP/94534010,DE1D-20230612-1-INT1,DE1D,I-ORG,C,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Deutsche Bundesbank Hauptverwaltung Hannover
90,TRSRYDE1-BP,99646464,TRSRYDE1-BP/99646464,DE1D-20230612-1-INT1,DE1D,I-ORG,C,11266178.0,NaN,HRB724512-B2609,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Porsche Automobil Holding SE
91,TRSRYDE1-BP,CC4160,TRSRYDE1-BP/CC4160,DE1D-20230612-1-INT1,DE1D,NaN,C,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
with open(path + "/Datei_TPDW3386.csv", "rb") as file:
    enc = chardet.detect(file.read())

DF_3386 = pd.read_csv(path + "/Datei_TPDW3386.csv", sep=";", encoding=enc["encoding"])

display(DF_3386)

# Werte der Spalte TPGC3386
DF_3386["TPGC3386"].values

# Einfügen der Spalte "TPGC3386" als "TPDW3386" in DF_BP

DF_BP["TPDW3386"] = DF_3386["TPGC3386"]
DF_BP

# 2.Einlesen der Business Partner act in Liability-Entität 


DF_BPact = pd.read_csv(path + "/BPART_Act.csv", sep="\t", skiprows=9)
# KYDWR5088O wird durch eine "Join" der Spalten KDWR5088 und KDWR5088O. Die Spalte wird am Ende des Dataframes hinzugefügt 
DF_BPact["KYDWR5088"] = DF_BPact[["KDWR5088O", "KDWR5088"]].astype(str).agg("/".join, axis=1)
# Die neue KYDWR5088O-Spalte wird am Anfang des Dataframes hingefügt 
Second_column = DF_BPact.pop("KYDWR5088")
DF_BPact.insert(2, "KYDWR5088O", Second_column)
# Das neue Dataframe wird ausgefürt 

DF_BPact

,TPGC7O,KGC7,TPGC235,TPGC26,TPGC325,DSGC10,DSGC3702,DSGC13,DSGC14,TPGC12,...,TPGC5179,TPGC5205,TPGC5208,TPGC5355,TPGC5470,TPGC5506,TPGC5468,TPGC5483,DSGC4438,TPGC5560
0,DE1-ZGP,138750336,I-ORG,R,NaN,ZkmkekEknFkdxndrUgdjkqynmrhrghgqqhotkvyzxM,QzXgmfzkq1,24337.0,Edknmhotjgwr,DE,...,NaN,NaN,NaN,DE,NaN,NaN,NaN,NaN,NaN,N
1,DE1-ZGP,138750338,I-ORG,R,NaN,ZkmkekEknFkdxndrUgdjkqynmrhrghgqqhotkvyzxM,QzXgmfzkq1,24337.0,Edknmhotjgwr,DE,...,NaN,NaN,NaN,DE,NaN,NaN,NaN,NaN,NaN,N
2,DE1-ZGP,138750337,I-ORG,R,NaN,ZkmkekEknFkdxndrUgdjkqynmrhrghgqqhotkvyzxM,QzXgmfzkq1,24337.0,Edknmhotjgwr,DE,...,NaN,NaN,NaN,DE,NaN,NaN,NaN,NaN,NaN,N
3,DE3-ZGP,185605956,I-ORG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,DE3-ZGP,AUDI_LEASING_GP,I-NP,R,NaN,NaN,NaN,NaN,NaN,DE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,DE3-ZGP,HB_FORD_SMV_GP,I-ORG,R,NaN,NaN,NaN,NaN,NaN,DE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,DE3-ZGP,HB_FORD_TANKK_GP,I-ORG,R,NaN,NaN,NaN,NaN,NaN,DE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,DE3-ZGP,HB_FORD_VERSS_GP,I-ORG,R,NaN,NaN,NaN,NaN,NaN,DE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,DE3-ZGP,WA_LEASING_GP,I-NP,R,NaN,NaN,NaN,NaN,NaN,DE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,DE1-ZGP,1008986,I-NP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,N,N,NaN,NaN,NaN,NaN
10,DE1-ZGP,1108283,I-ORG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,DE1-ZGP,1139022,I-ORG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,DE3-ZGP,125641563,I-ORG,R,NaN,ZKMKEKEKNFKDXNDRUGDJKQYNMRHRGHGQQHOTKVYZXM,QZXGMFZKQ1,24337.0,EDKNMHOTJGWR,DE,...,NaN,NaN,NaN,DE,NaN,NaN,NaN,NaN,NaN,N
13,DE3-ZGP,27487445,I-ORG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,DE3-ZGP,27710761,I-ORG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,DE3-ZGP,42369825,I-ORG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,DE3-ZGP,132503514,I-ORG,R,NaN,ZKMKEKEKNFKDXNDRUGDJKQYNMRHRGHGQQHOTKVYZXM,QZXGMFZKQ1,24337.0,EDKNMHOTJGWR,DE,...,NaN,NaN,NaN,DE,NaN,NaN,NaN,NaN,NaN,N
17,DE3-ZGP,136610580,I-ORG,R,NaN,ZKMKEKEKNFKDXNDRUGDJKQYNMRHRGHGQQHOTKVYZXM,QZXGMFZKQ1,24337.0,EDKNMHOTJGWR,DE,...,NaN,NaN,NaN,DE,NaN,NaN,NaN,NaN,NaN,N
18,DE3-ZGP,137189195,I-ORG,R,NaN,ZKMKEKEKNFKDXNDRUGDJKQYNMRHRGHGQQHOTKVYZXM,QZXGMFZKQ1,24337.0,EDKNMHOTJGWR,DE,...,NaN,NaN,NaN,DE,NaN,NaN,NaN,NaN,NaN,N
19,DE3-ZGP,138635764,I-ORG,R,NaN,ZKMKEKEKNFKDXNDRUGDJKQYNMRHRGHGQQHOTKVYZXM,QZXGMFZKQ1,24337.0,EDKNMHOTJGWR,DE,...,NaN,NaN,NaN,DE,NaN,NaN,NaN,NaN,NaN,N
20,DE3-ZGP,138750338,I-ORG,R,NaN,ZkmkekEknFkdxndrUgdjkqynmrhrghgqqhotkvyzxM,QzXgmfzkq1,24337.0,Edknmhotjgwr,DE,...,NaN,NaN,NaN,DE,NaN,NaN,NaN,NaN,NaN,N
21,DE3-ZGP,139010831,I-ORG,R,NaN,ZkmkekEknFkdxndrUgdjkqynmrhrghgqqhotkvyzxM,QzXgmfzkq1,24337.0,Edknmhotjgwr,DE,...,NaN,NaN,NaN,DE,NaN,NaN,NaN,NaN,NaN,N
22,DE3-ZGP,AUDI_LEASING_GP,I-NP,R,NaN,NaN,NaN,NaN,NaN,DE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,DE3-ZGP,HB_FORD_SMV_GP,I-ORG,R,NaN,NaN,NaN,NaN,NaN,DE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,DE3-ZGP,HB_FORD_TANKK_GP,I-ORG,R,NaN,NaN,NaN,NaN,NaN,DE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,DE3-ZGP,HB_FORD_VERSS_GP,I-ORG,R,NaN,NaN,NaN,NaN,NaN,DE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,DE3-ZGP,WA_LEASING_GP,I-NP,R,NaN,NaN,NaN,NaN,NaN,DE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

C:\Users\Carina\AppData\Local\Temp\ipykernel_31156\649268354.py:19: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  DF_BPact = pd.read_csv(path + "/BPART_Act.csv", sep="\t", skiprows=9)

,TPDW5090,KDWR5088O,KYDWR5088O,KDWR5088,KDWR5089O,KDWR5089,KDW0717,KDW0719,DTDW0001
0,BI,TRSRYDE1-BP,TRSRYDE1-BP/72612062,72612062,TRSRYDE1-4160-L,370A1AEBF97082CAB8AAA5420AFF3745,DE1D-20230612-1-INT1,DE1D,20230612
1,CR,DE1-ZGP,DE1-ZGP/100017936,100017936,DE1-BCA,2400110983_2014,DE1D-20230612-1-INT1,DE1D,20230612
2,CR,DE1-ZGP,DE1-ZGP/100022577,100022577,DE1-BCA,1514701224_2012,DE1D-20230612-1-INT1,DE1D,20230612
3,CR,DE1-ZGP,DE1-ZGP/100023062,100023062,DE1-BCA,1510776238_2009,DE1D-20230612-1-INT1,DE1D,20230612
4,CR,DE1-ZGP,DE1-ZGP/10002975,10002975,DE1-BCA,1522637956_2020,DE1D-20230612-1-INT1,DE1D,20230612
...,...,...,...,...,...,...,...,...,...
71149,DB,DE1-ZGP,DE1-ZGP/43964308,43964308,DE1-BCA,2305686491_2023,DE1D-20230612-1-INT1,DE1D,20230612
71150,DB,DE1-ZGP,DE1-ZGP/43964308,43964308,DE1-BCA,2305686632_2023,DE1D-20230612-1-INT1,DE1D,20230612
71151,DB,DE1-ZGP,DE1-ZGP/43964308,43964308,DE1-BCA,2305686749_2023,DE1D-20230612-1-INT1,DE1D,20230612
71152,DB,DE1-ZGP,DE1-ZGP/43964308,43964308,DE1-BCA,2305687085_2023,DE1D-20230612-1-INT1,DE1D,20230612
71153,DB,DE1-ZGP,DE1-ZGP/43964308,43964308,DE1-BCA,2305687291_2023,DE1D-20230612-1-INT1,DE1D,20230612

In [20]:
# Merge Business Partner und Business Partner act in Liabil
DF_merged2 = DF_BPact.join(DF_BP, lsuffix="KDWR5088O", rsuffix="KYDW0007")
DF_merged2

# Erstelle die Spalte der Kundennummern mit "CR"
DF_merged2 = DF_BPact.join(DF_BP, lsuffix="KDWR5088O", rsuffix="KYDW0007")
DF_merged2.loc[DF_merged2["TPDW5090"] == "CR"]["KYDW0007O"]
#3.Einlesen der Money laundering Entität 

DF_MONLA = pd.read_csv(path + "/MONEYLA.csv", sep="\t", skiprows=9)
DF_MONLA["KYDWR5469"] = DF_MONLA[["KDWR5469O", "KDWR5469"]].astype(str).agg("/".join, axis=1)
neue_Spalte = DF_MONLA.pop("KYDWR5469")
DF_MONLA.insert(2, "KYDWR5469O", neue_Spalte)

DF_MONLA

,KDW5659O,KDW5659,KYDWR5469O,KDW0717,KDW0719,DTDW7035,KDWR5469O,KDWR5469,KDWR5505O,KDWR5505
0,DE1-GW,111064251,DE1-ZGP/111064251,DE1D-20230612-1-INT1,DE1D,20230613,DE1-ZGP,111064251,NaN,NaN
1,DE1-GW,114003096,DE1-ZGP/114003096,DE1D-20230612-1-INT1,DE1D,20230613,DE1-ZGP,114003096,NaN,NaN
2,DE1-GW,118053543,DE1-ZGP/118053543,DE1D-20230612-1-INT1,DE1D,20230613,DE1-ZGP,118053543,NaN,NaN
3,DE1-GW,12390203,DE1-ZGP/12390203,DE1D-20230612-1-INT1,DE1D,20230613,DE1-ZGP,12390203,NaN,NaN
4,DE1-GW,129160625,DE1-ZGP/129160625,DE1D-20230612-1-INT1,DE1D,20230613,DE1-ZGP,129160625,NaN,NaN
5,DE1-GW,13086081,DE1-ZGP/13086081,DE1D-20230612-1-INT1,DE1D,20230613,DE1-ZGP,13086081,NaN,NaN
6,DE1-GW,135343223,DE1-ZGP/135343223,DE1D-20230612-1-INT1,DE1D,20230613,DE1-ZGP,135343223,NaN,NaN
7,DE1-GW,136171171,DE1-ZGP/136171171,DE1D-20230612-1-INT1,DE1D,20230613,DE1-ZGP,136171171,NaN,NaN
8,DE1-GW,140806730,DE1-ZGP/140806730,DE1D-20230612-1-INT1,DE1D,20230613,DE1-ZGP,140806730,NaN,NaN
9,DE1-GW,141844930,DE1-ZGP/141844930,DE1D-20230612-1-INT1,DE1D,20230613,DE1-ZGP,141844930,NaN,NaN
10,DE1-GW,143493017,DE1-ZGP/143493017,DE1D-20230612-1-INT1,DE1D,20230613,DE1-ZGP,143493017,NaN,NaN
11,DE1-GW,145103763,DE1-ZGP/145103763,DE1D-20230612-1-INT1,DE1D,20230613,DE1-ZGP,145103763,NaN,NaN
12,DE1-GW,1451037714,DE1-ZGP/1451037714,DE1D-20230612-1-INT1,DE1D,20230613,DE1-ZGP,1451037714,NaN,NaN
13,DE1-GW,145517414,DE1-ZGP/145517414,DE1D-20230612-1-INT1,DE1D,20230613,DE1-ZGP,145517414,NaN,NaN
14,DE1-GW,145723754,DE1-ZGP/145723754,DE1D-20230612-1-INT1,DE1D,20230613,DE1-ZGP,145723754,NaN,NaN
15,DE1-GW,151691240,DE1-ZGP/151691240,DE1D-20230612-1-INT1,DE1D,20230613,DE1-ZGP,151691240,NaN,NaN
16,DE1-GW,160967298,DE1-ZGP/160967298,DE1D-20230612-1-INT1,DE1D,20230613,DE1-ZGP,160967298,NaN,NaN
17,DE1-GW,168351356,DE1-ZGP/168351356,DE1D-20230612-1-INT1,DE1D,20230613,DE1-ZGP,168351356,NaN,NaN
18,DE1-GW,168352328,DE1-ZGP/168352328,DE1D-20230612-1-INT1,DE1D,20230613,DE1-ZGP,168352328,NaN,NaN
19,DE1-GW,177151934,DE1-ZGP/177151934,DE1D-20230612-1-INT1,DE1D,20230613,DE1-ZGP,177151934,NaN,NaN
20,DE1-GW,180389395,DE1-ZGP/180389395,DE1D-20230612-1-INT1,DE1D,20230613,DE1-ZGP,180389395,NaN,NaN
21,DE1-GW,182031235,DE1-ZGP/182031235,DE1D-20230612-1-INT1,DE1D,20230613,DE1-ZGP,182031235,NaN,NaN
22,DE1-GW,194080832,DE1-ZGP/194080832,DE1D-20230612-1-INT1,DE1D,20230613,DE1-ZGP,194080832,NaN,NaN
23,DE1-GW,194152063,DE1-ZGP/194152063,DE1D-20230612-1-INT1,DE1D,20230613,DE1-ZGP,194152063,NaN,NaN
24,DE1-GW,203351648,DE1-ZGP/203351648,DE1D-20230612-1-INT1,DE1D,20230613,DE1-ZGP,203351648,NaN,NaN
25,DE1-GW,211544022,DE1-ZGP/211544022,DE1D-20230612-1-INT1,DE1D,20230613,DE1-ZGP,211544022,NaN,NaN
26,DE1-GW,211867238,DE1-ZGP/211867238,DE1D-20230612-1-INT1,DE1D,20230613,DE1-ZGP,211867238,NaN,NaN
27,DE1-GW,215764984,DE1-ZGP/215764984,DE1D-20230612-1-INT1,DE1D,20230613,DE1-ZGP,215764984,NaN,NaN
28,DE1-GW,28407238,DE1-ZGP/28407238,DE1D-20230612-1-INT1,DE1D,20230613,DE1-ZGP,28407238,NaN,NaN
29,DE1-GW,32907998,DE1-ZGP/32907998,DE1D-20230612-1-INT1,DE1D,20230613,DE1-ZGP,32907998,NaN,NaN
30,DE1-GW,39070723,DE1-ZGP/39070723,DE1D-20230612-1-INT1,DE1D,20230613,DE1-ZGP,39070723,NaN,NaN
31,DE1-GW,39529492,DE1-ZGP/39529492,DE1D-20230612-1-INT1,DE1D,20230613,DE1-ZGP,39529492,NaN,NaN
32,DE1-GW,42866403,DE1-ZGP/42866403,DE1D-20230612-1-INT1,DE1D,20230613,DE1-ZGP,42866403,NaN,NaN
33,DE1-GW,45507298,DE1-ZGP/45507298,DE1D-20230612-1-INT1,DE1D,20230613,DE1-ZGP,45507298,NaN,NaN
34,DE1-GW,55538661,DE1-ZGP/55538661,DE1D-20230612-1-INT1,DE1D,20230613,DE1-ZGP,55538661,NaN,NaN
35,DE1-GW,63890266,DE1-ZGP/63890266,DE1D-20230612-1-INT1,DE1D,20230613,DE1-ZGP,63890266,NaN,NaN
36,DE1-GW,7450402,DE1-ZGP/7450402,DE1D-20230612-1-INT1,DE1D,20230613,DE1-ZGP,7450402,NaN,NaN
37,DE1-GW,85340875,DE1-ZGP/85340875,DE1D-20230612-1-INT1,DE1D,20230613,DE1-ZGP,85340875,NaN,NaN
38,DE1-GW,8563815,DE1-ZGP/8563815,DE1D-20230612-1-INT1,DE1D,20230613,DE1-ZGP,8563815,NaN,NaN
39,DE1-GW,91775651,DE1-ZGP/91775651,DE1D-20230612-1-INT1,DE1D,20230613,DE1-ZGP,91775651,NaN,NaN
40,DE1-GW,92783857,DE1-ZGP/92783857,DE1D-20230612-1-INT1,DE1D,20230613,DE1-ZGP,92783857,NaN,NaN
41,DE1-GW,96345095,DE1-ZGP/96345095,DE1D-20230612-1-INT1,DE1D,20230613,DE1-ZGP,96345095,NaN,NaN
42,DE1-GW,98847077,DE1-ZGP/98847077,DE1D-20230612-1-INT1,DE1D,20230613,DE1-ZGP,98847077,NaN,NaN

In [21]:
###################################+++++++++ II. Bau der Sätze +++++##################################################
A_Satz = pd.DataFrame([[''] * 10], columns=['A{}'.format(i) for i in range(1, 11)])
A_Satz["A1"] = 'A'
A_Satz["A2"] = '165'
A_Satz["A3"] = '10'
A_Satz["A4"] = 100000.00
A_Satz["A5"] = 0.00
A_Satz["A6A"] = 1330170000.00
A_Satz["A6B"] = 5000000
A_Satz["A6C"] = 50000000
A_Satz["A7"] = 1392530000.00
A_Satz["A8"] = '00000000'
A_Satz["A9A"] = 0.00
A_Satz["A9B"] = 0.00
A_Satz["A9C"] = 0.00
A_Satz["A10"] = '00000000'

# Die Spalten des A_Satzes werden in die gewünscht Reihenfolge sortiert

A_Satz.columns = ["A1", "A2", "A3", "A4", "A5", "A6", "A6A",
                  "A6B", "A6C", "A7", "A8", "A9", "A9A", "A9B", "A9C", "A10"]

# A_Satz wird ausgegeben

A_Satz

,A1,A2,A3,A4,A5,A6,A6A,A6B,A6C,A7,A8,A9,A9A,A9B,A9C,A10
0,A,165,10,100000.0,0.0,,1.392530e+09,00000000,,00000000,1.330170e+09,5000000,50000000,0.0,0.0,0.0

In [22]:
###################################+++++++++ II. Bau der Sätze +++++##################################################
A_Satz = pd.DataFrame([[''] * 10], columns=['A{}'.format(i) for i in range(1, 11)])
A_Satz["A1"] = 'A'
A_Satz["A2"] = '165'
A_Satz["A3"] = '10'
A_Satz["A4"] = 100000.00
A_Satz["A5"] = 0.00
A_Satz["A6A"] = 1330170000.00
A_Satz["A6B"] = 5000000
A_Satz["A6C"] = 50000000
A_Satz["A7"] = 1392530000.00
A_Satz["A8"] = '00000000'
A_Satz["A9A"] = 0.00
A_Satz["A9B"] = 0.00
A_Satz["A9C"] = 0.00
A_Satz["A10"] = '00000000'

# Die Spalten des A_Satzes werden in die gewünscht Reihenfolge sortiert

A_Satz.columns = ["A1", "A2", "A3", "A4", "A5", "A6", "A6A",
                  "A6B", "A6C", "A7", "A8", "A9", "A9A", "A9B", "A9C", "A10"]

# A_Satz wird ausgegeben

A_Satz

,A1,A2,A3,A4,A5,A6,A6A,A6B,A6C,A7,A8,A9,A9A,A9B,A9C,A10
0,A,165,10,100000.0,0.0,,1.392530e+09,00000000,,00000000,1.330170e+09,5000000,50000000,0.0,0.0,0.0

In [23]:
B_Satz2 = pd.DataFrame([[''] * 16], index=range(1, 1460612), columns=["B{}".format(i) for i in range(1, 17)])

B_Satz2

,B1,B2,B3,B4,B5,B6,B7,B8,B9,B10,B11,B12,B13,B14,B15,B16
1,B,TRSRYDE1-BP/104044196,Volkswagen Bank GmbH Surcusal en Espana,NaN,,NaN,Av de Bruselas 34,,28100,Alcobendas (Madrid),ES,NaN,K64.19,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,,N
2,B,TRSRYDE1-BP/104140197,Volkswagen Bank GmbH Milan Branch,NaN,,NaN,Via Grosio 10 / 4,,20151,MILANO,IT,NaN,K64.19,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,,N
3,B,TRSRYDE1-BP/104393282,Volkswagen Dogus Finansman A.S.,NaN,,NaN,Baglar Cad. No.:14/A Ofispark,,34406,Kagithane Istanbul,TR,NaN,K64.19,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,,N
4,B,TRSRYDE1-BP/104413531,Commerzbank AG,NaN,,NaN,Kaiserplatz,,60311,Frankfurt am Main,DE,NaN,K64.19,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,,N
5,B,TRSRYDE1-BP/104427026,Volim GmbH,NaN,,NaN,Gifhorner Str. 57,,38112,Braunschweig,DE,NaN,L68.20,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1460607,B,NaN,NaN,NaN,,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,,NaN
1460608,B,NaN,NaN,NaN,,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,,NaN
1460609,B,NaN,NaN,NaN,,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,,NaN
1460610,B,NaN,NaN,NaN,,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,,NaN
1460611,B,NaN,NaN,NaN,,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,,NaN

In [80]:
BPART_MERGE = B_Satz2.merge(DF_BP, left_on="B2", right_on="KYDW0007O", how="inner")


def Funktion_B16(row):
    if row["TPDW0235"] == "I-NP":
        return "10"
    elif all(x == "N" for x in row["B14"]):
        return "13"
    elif row["TPDW5483"] == "Y":
        return "20"
    else:
        return "90"

In [ ]:
B_Satz2["B1"] = "B"
B_Satz2["B2"] = DF_merged2.loc[DF_merged2["TPDW5090"] == "CR"]["KYDW0007O"]
B_Satz2["B3"] = DF_BP["DSDW0010"]
B_Satz2["B4"] = DF_BP["TPDW4438"]
B_Satz2["B5"] = ""  # LEER lassen
B_Satz2["B6"] = DF_BP["TPDW4438"]
B_Satz2["B7"] = DF_BP["DSDW3702"]
B_Satz2['B8'] = ""
B_Satz2["B9"] = DF_BP["DSDW0013"]
B_Satz2["B10"] = DF_BP["DSDW0014"]
B_Satz2["B11"] = DF_BP["TPDW0012"]
B_Satz2["B12"] = DF_BP["DTDW4315"]
B_Satz2["B13"] = DF_BP["DSDW0230"]
B_Satz2["B14"] = "N" * 50
B_Satz2["B15"] = ""
B_Satz2["B16"] = B_Satz2.apply(Funktion_B16, axis=1)

In [24]:

# 4 Einlesen der Liability Entität für den Bau des C-Satzes

DF_Liab = pd.read_csv(path + "/PLIAB Kopie.csv", sep="\t", skiprows=9, decimal=",")

DF_Liab

# 5 Einlesen der PRODUCT-Entität für die Bestimmung der Produktnamen in C6

with open(path + "/PRODUCT.csv", "rb") as file:
    enc = chardet.detect(file.read())

DF_PRO = pd.read_csv(path + "/PRODUCT.csv", sep=";", skiprows=9, encoding=enc["encoding"])

DF_PRO

# 6 Einlesen der Cancellation of Liability Entität für C26

BP_CANLA = pd.read_csv(path + "/BP_CANLA.csv", sep="\t", skiprows=9, decimal=".")

BP_CANLA

,KDW0565O,KDW0565,KDW0717,KDW0719,TPDW0527,DTDW0233,KDWR5000O,KDWR5000,TPDW5155,ATDW5156,UCDW5156,DTDW0001,DTDW5492
0,DE1-BCA,2400002198_2014_PC_0000000004,DE1D-20230612-1-INT1,DE1D,CL,20230517,DE1-BCA,2400002198_2014,PC,"25000,00",EUR,20230612,20230618
1,DE1-BCA,2400003287_2014_PC_0000000008,DE1D-20230612-1-INT1,DE1D,CL,20230524,DE1-BCA,2400003287_2014,PC,"25000,00",EUR,20230612,20230625
2,DE1-BCA,2400004350_2014_PC_0000000004,DE1D-20230612-1-INT1,DE1D,CL,20230528,DE1-BCA,2400004350_2014,PC,"25000,00",EUR,20230612,20230629
3,DE1-BCA,2400006926_2014_PC_0000000003,DE1D-20230612-1-INT1,DE1D,CL,20230524,DE1-BCA,2400006926_2014,PC,"25000,00",EUR,20230612,20230625
4,DE1-BCA,2400007411_2014_PC_0000000002,DE1D-20230612-1-INT1,DE1D,CL,20230430,DE1-BCA,2400007411_2014,PC,"25000,00",EUR,20230612,20230614
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4107,DE1-BCA,2305127645_2021_CC_0000000001,DE1D-20230612-1-INT1,DE1D,CL,20221115,DE1-BCA,2305127645_2021,CC,"47539,47",EUR,20230612,20230810
4108,DE1-BCA,2305129518_2021_CC_0000000001,DE1D-20230612-1-INT1,DE1D,CL,20230125,DE1-BCA,2305129518_2021,CC,"1875,76",EUR,20230612,20230905
4109,DE1-BCA,2305131753_2021_CC_0000000001,DE1D-20230612-1-INT1,DE1D,CL,20221012,DE1-BCA,2305131753_2021,CC,"55406,66",EUR,20230612,20230914
4110,DE1-BCA,2305132488_2021_CC_0000000001,DE1D-20230612-1-INT1,DE1D,CL,20221115,DE1-BCA,2305132488_2021,CC,"20515,72",EUR,20230612,20230919
4111,DE1-BCA,2400410490_2017_PC_0000000055,DE1D-20230612-1-INT1,DE1D,CL,20230610,DE1-BCA,2400410490_2017,PC,"5000,00",EUR,20230612,20230830

In [25]:
B_Satz2 = Funktion_B14_02(B_Satz2, "B13", "B14")

B_Satz2

,B1,B2,B3,B4,B5,B6,B7,B8,B9,B10,B11,B12,B13,B14,B15,B16
1,B,TRSRYDE1-BP/104044196,Volkswagen Bank GmbH Surcusal en Espana,NaN,,NaN,Av de Bruselas 34,,28100,Alcobendas (Madrid),ES,NaN,K64.19,NYNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,,N
2,B,TRSRYDE1-BP/104140197,Volkswagen Bank GmbH Milan Branch,NaN,,NaN,Via Grosio 10 / 4,,20151,MILANO,IT,NaN,K64.19,NYNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,,N
3,B,TRSRYDE1-BP/104393282,Volkswagen Dogus Finansman A.S.,NaN,,NaN,Baglar Cad. No.:14/A Ofispark,,34406,Kagithane Istanbul,TR,NaN,K64.19,NYNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,,N
4,B,TRSRYDE1-BP/104413531,Commerzbank AG,NaN,,NaN,Kaiserplatz,,60311,Frankfurt am Main,DE,NaN,K64.19,NYNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,,N
5,B,TRSRYDE1-BP/104427026,Volim GmbH,NaN,,NaN,Gifhorner Str. 57,,38112,Braunschweig,DE,NaN,L68.20,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1460607,B,NaN,NaN,NaN,,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,,NaN
1460608,B,NaN,NaN,NaN,,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,,NaN
1460609,B,NaN,NaN,NaN,,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,,NaN
1460610,B,NaN,NaN,NaN,,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,,NaN
1460611,B,NaN,NaN,NaN,,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,,NaN

In [26]:
B_Satz2 = Funktion_B14_Pos03(B_Satz2, DF_BP, "B2", "KYDW0007O", "TPDW3386", "B14")

B_Satz2
# Für die Unterposition B14_Pos.04 schreiben wir den festen Wert "N"

# Aufruf der Funktion für Position B14_Pos.05."CGOV", "LGOV" und "SGOV" werden in TPDW3386 geprüft
# und entsprechend "N" durch "Y" an der 5. Stelle ersetzt

B_Satz2 = Funktion_B14_05(B_Satz2, DF_BP, "B2", "KYDW0007O", "TPDW3386", "B14")

B_Satz2

# Aufruf der Funktion für Position B14_Pos.06. String, die "K66." werden in DSDW0230 geprüft
# und entsprechend "N" durch "Y" an der 6. Stelle ersetzt

B_Satz2 = Funktion_B14_06(B_Satz2, "B13", "B14")

B_Satz2

# Aufruf der Funktion für Position B14_Pos.07. String, die "PEN" werden in "TPDW3386" geprüft
# und entsprechend "N" durch "Y" an der 7. Stelle ersetzt

B_Satz2 = Funktion_B14_07(B_Satz2, DF_BP, "B2", "KYDW0007O", "TPDW3386", "B14")

B_Satz2

# Aufruf der Funktion für Position B14_Pos.10. String, die "PEN" werden in "TPDW3386" geprüft
# und entsprechend "N" durch "Y" an der 10. Stelle ersetzt

B_Satz2 = Funktion_B14_Pos_10(B_Satz2, DF_MONLA, "B2", "KYDWR5469O", "B14")

# Prüfen der Werte in B14

B_Satz2.B14.value_counts()

B14
NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN    1460558
NYNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN         51
NNNNNYNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN          2
Name: count, dtype: int64

In [27]:
DF1 = pd.DataFrame(B_Satz2)
DF1.to_csv(path+"/B_Satz.csv")
DF1 = DF1.tail(-1)
DF1

# A_Satz wird noch als DataFrame eingelesen und alle Spaltennamen werden entfernt

DF2 = pd.DataFrame(A_Satz)
DF2.to_csv(path+"/A_Satz.csv")
DF2
DF2 = DF2.tail(-1)
DF2

C:\Users\Carina\AppData\Local\Temp\ipykernel_31156\646464090.py:3: DtypeWarning: Columns (2,3,4,5,6,7,8,9,10,11,12,13,15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  DF1 = pd.read_csv("B_Satz.csv", header=None)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
1,0.0,A,165,10,100000.0,0.0,NaN,1392530000.0,00000000,NaN,00000000,1330170000.0,5000000,50000000,0.0,0.0,0.0

In [28]:
import pandas as pd

# Definiere ein neuen DataFrame, der die Spalten von DF1 und DF2 hat.
# Hier bekommt DF2 einen neuen index so dass, die Spalten von DF2 in der gleichen Reihenfolge wie die Spalte von DF1 sind
# Das heisst, dass neue Spalten mit None gefüllt werden in DF2 eingefügt
DF_GroßerSatz = pd.concat([DF2, DF1.reindex(columns=DF1.columns)], ignore_index=True)
# Entferne die erste Spalte
DF_GroßerSatz = DF_GroßerSatz.iloc[:, 1:]

# DF_GroßerSatz enthält jetzt die Daten aus beiden DataFrames, wobei fehlende Spalten in DF2 auf None gesetzt sind

DF_GroßerSatz

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,A,165,10,100000.0,0.0,NaN,1392530000.0,00000000,NaN,00000000,1330170000.0,5000000,50000000,0.0,0.0,0.0
1,B,TRSRYDE1-BP/104044196,Volkswagen Bank GmbH Surcusal en Espana,NaN,NaN,NaN,Av de Bruselas 34,NaN,28100,Alcobendas (Madrid),ES,NaN,K64.19,NYNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,NaN,N
2,B,TRSRYDE1-BP/104140197,Volkswagen Bank GmbH Milan Branch,NaN,NaN,NaN,Via Grosio 10 / 4,NaN,20151,MILANO,IT,NaN,K64.19,NYNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,NaN,N
3,B,TRSRYDE1-BP/104393282,Volkswagen Dogus Finansman A.S.,NaN,NaN,NaN,Baglar Cad. No.:14/A Ofispark,NaN,34406,Kagithane Istanbul,TR,NaN,K64.19,NYNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,NaN,N
4,B,TRSRYDE1-BP/104413531,Commerzbank AG,NaN,NaN,NaN,Kaiserplatz,NaN,60311,Frankfurt am Main,DE,NaN,K64.19,NYNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,NaN,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1460607,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,NaN,NaN
1460608,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,NaN,NaN
1460609,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,NaN,NaN
1460610,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,NaN,NaN
1460611,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,NaN,NaN

In [29]:
DF_merg3 = DF_Liab.merge(DF_PRO, left_on="KDWR5097", right_on="KMDPRODID", how="left")

DF_merg3

,KDW5082O,KDW5082,KDW0717,KDW0719,DTDW0001,DTDW5083,DTDW5084,DSDW5085,TPDW5086,TPDW5087,...,TPDW5652,TPDW5653,QUDW5660,UCDW5660,KMDORIGID,KMDPRODID,FMDACTIVE,KMDPROTYP,TPMDPRCD,DSMDPRODN
0,DE1-BCA,1502713462_2007,DE1D-20230612-1-INT1,DE1D,20230612,20071009,99991231,NaN,EUR,NaN,...,N,NaN,0,ST,DE1-REF,DE-Z1720-ZBK101,1,07.02.2004,NaN,Plus Konto VW
1,DE1-BCA,1502713470_2007,DE1D-20230612-1-INT1,DE1D,20230612,20071009,99991231,NaN,EUR,NaN,...,N,NaN,0,ST,DE1-REF,DE-Z1720-ZBK101,1,07.02.2004,NaN,Plus Konto VW
2,DE1-BCA,1502713546_2007,DE1D-20230612-1-INT1,DE1D,20230612,20071009,99991231,NaN,EUR,NaN,...,N,NaN,0,ST,DE1-REF,DE-Z1720-ZBK101,1,07.02.2004,NaN,Plus Konto VW
3,DE1-BCA,1502713553_2007,DE1D-20230612-1-INT1,DE1D,20230612,20071009,99991231,NaN,EUR,NaN,...,N,NaN,0,ST,DE1-REF,DE-Z1720-ZBK101,1,07.02.2004,NaN,Plus Konto VW
4,DE1-BCA,1502713579_2007,DE1D-20230612-1-INT1,DE1D,20230612,20071009,99991231,NaN,EUR,NaN,...,N,NaN,0,ST,DE1-REF,DE-Z1720-ZBK101,1,07.02.2004,NaN,Plus Konto VW
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38742,DE1-BCA,1503313718_2007,DE1D-20230612-1-INT1,DE1D,20230612,20071126,99991231,NaN,EUR,NaN,...,N,NaN,0,ST,DE1-REF,DE-Z1720-ZBK101,1,07.02.2004,NaN,Plus Konto VW
38743,DE1-BCA,1503313734_2007,DE1D-20230612-1-INT1,DE1D,20230612,20071126,99991231,NaN,EUR,NaN,...,N,NaN,0,ST,DE1-REF,DE-Z1720-ZBK101,1,07.02.2004,NaN,Plus Konto VW
38744,DE1-BCA,1503313742_2007,DE1D-20230612-1-INT1,DE1D,20230612,20071126,99991231,NaN,EUR,NaN,...,N,NaN,0,ST,DE1-REF,DE-Z1720-ZBK101,1,07.02.2004,NaN,Plus Konto VW
38745,DE1-BCA,1503313775_2007,DE1D-20230612-1-INT1,DE1D,20230612,20071126,99991231,NaN,EUR,NaN,...,N,NaN,0,ST,DE1-REF,DE-Z1720-ZBK101,1,07.02.2004,NaN,Plus Konto VW
38746,DE1-BCA,1503313825_2007,DE1D-20230612-1-INT1,DE1D,20230612,20071126,99991231,NaN,EUR,NaN,...,N,NaN,0,ST,DE1-REF,DE-Z1720-ZBK101,1,07.02.2004,NaN,Plus Konto VW

In [30]:


# Merge der Cancellation- und Liability-Entität für C26

DF_C_MERGED = None
C_liab = pd.DataFrame([[''] * 27], index=range(0, 1460610), columns=["C{}".format(i) for i in range(1, 28)])
C_liab["C1"] = "C"
C_liab["C2B"] = DF_Liab["KDW5082"]
C_liab.dropna(subset="C2B", inplace=True)
DF = DF_BPact[DF_BPact["TPDW5090"] == "CR"]

DF = DF[["KDWR5089", "KYDWR5088O"]]

C_liab = C_liab.merge(DF, left_on="C2B", right_on="KDWR5089")  #war: left soll inner
DF_merged10 = DF_Liab.merge(BP_CANLA, left_on="KDW5082", right_on="KDWR5000", how="left")  #muss left

print(DF["KYDWR5088O"])
C_liab["C4"] = func_neu_C4(DF_Liab, DF_BPact, "KDW5082", "KDWR5089", "TPDW5090")
C_liab["C5"] = func_neu_C5(DF_Liab, DF_BPact, "KDW5082", "KDWR5089", "TPDW5090")
C_liab["C6"] = naechsterwert2(DF_Liab, "KDW5082", "DTDW5113").apply(lambda x: str(int(x)) if not pd.isnull(x) else x)  # ["DTDW5113" for "DTDW5113" in DF_Liab.set_index("KDW5082").columns]  # DF_Liab["DTDW5113"].sort_values("KDW5082")                                        #S-Verweis: Suche aus PLIABA den Vertrag (KYDW5082) und das dazugehörige Datum DTDW5113 und schreibe es in C6
C_liab["C7"] = naechsterwert2(DF_merg3, "KDW5082", "DSMDPRODN")  # Sverweis(DF_Liab,DF_PRO, "KDW5082", "KDWR5097", DF_Liab, DF_PRO,"KMDPRODID", "TPMDPPRCD", "KDW5082" )
C_liab["C8"] = naechsterwert2(DF_Liab, "KDW5082", "UCDW5105")
C_liab["C9"] = naechsterwert2(DF_Liab, "KDW5082", "ATDW5105")  # naechsterwert2(DF_Liab, "KDW5082", "ATDW5105").apply(lambda x:-x)                                                            # DF_Liab[DF_Liab["KDW5082"].isin(DF_Liab["KDW5082"])]DF_Liab["ATDW5105"].apply(lambda x: -x if x > 0 else x)
C_liab["C10"] = "{:,.5f}".format(100000 / 100000)  # 1.00000                                                            #naechsterwert2(DF_Liab, "KDW5082", "TPDW5086")
C_liab["C11"] = C_liab["C9"].astype(float) * C_liab["C10"].astype(float)
C_liab["C12"] = naechsterwert2(DF_Liab, "KDW5082", "QUDW5537").astype(str) + DF_Liab["UCDW5537"]
C_liab["C13"] = "X"
C_liab["C14"] = naechsterwert2(DF_Liab, "KDW5082", "DTDW5084")
C_liab["C15"] = Funktion_C15(C_liab, DF_Liab, "C2B", "KDW5082", "QUDW5182", "C15")
C_liab["C16"] = naechsterwert2(DF_Liab, "KDW5082", "TPDW5562")
C_liab["C17"] = naechsterwert2(DF_Liab, "KDW5082", "ATDW5107")
C_liab["C18"] = C_liab["C10"].astype(float) * C_liab["C17"].astype(float)
C_liab["C19"] = C_liab["C18"].astype(float) + C_liab["C11"].astype(float)  # C_liab["C11"] + C_liab["C18"]
C_liab["C20"] = "N" * 50  # C_Pos[["C_Pos{}".format(i) for i in range(1, 51)]].astype(str).agg("".join, axis = 1)
C_liab["C21"] = "N" * 50  # C_Pos[["C_Pos{}".format(i) for i in range(1, 51)]].astype(str).agg("".join, axis = 1)
C_liab["C22"] = "DE"
C_liab["C23"] = ""
C_liab["C25"] = naechsterwert2(DF_Liab, "KDW5082", "QUDW5094")
C_liab.rename(columns={"KYDWR5088O": "C2A"}, inplace=True)

1        DE1-ZGP/100017936
2        DE1-ZGP/100022577
3        DE1-ZGP/100023062
4         DE1-ZGP/10002975
5         DE1-ZGP/10003290
               ...
63506     DE1-ZGP/77974060
63507     DE1-ZGP/77974896
63508     DE1-ZGP/77974952
63509     DE1-ZGP/77975640
63510      DE1-ZGP/7797902
Name: KYDWR5088O, Length: 33150, dtype: object

In [31]:
def set_C24_value(row):
    #return the value in column "DTDW5484" related to the corresponding value of C2B in DF_Liab in the column "KDW5082"
    return DF_Liab.loc[DF_Liab["KDW5082"] == row["C2B"], "DTDW5484"].values[0]


C_liab["C24"] = C_liab.apply(set_C24_value, axis=1)

In [32]:
def set_C26_value(row):
    if row["C20"][44] == "Y":
        #get the value from DF CANELA where KDWR5000 = C2B
        return BP_CANLA.loc(row["C2B"], "ATDW5156")
    else:
        return None


C_liab["C26"] = C_liab.apply(set_C26_value, axis=1)
C_liab["C26"]

0      None
1      None
2      None
3      None
4      None
       ...
882    None
883    None
884    None
885    None
886    None
Name: C26, Length: 887, dtype: object

In [33]:
def set_C27_value(row):
    # Wert: 90 - Ohne Ausschluss

    #finde die reihe aus B wo B2 = C2A
    #wenn B14 = N und C20 = N dann 90
    b_row_14 = B_Satz2.loc[B_Satz2['B2'] == row['C2A'], "B14"]
    if all(b_row_14 == 'N') and all(c_values == "N" for c_values in row["C20"]):
        return '90'

    # Wert: 01 - Ausschluss nur nach EinSiG
    if any(b_row_14[0:15].count("Y") > 0) and all(c_values == "N" for c_values in b_row_14[15:50]) and all(c == 'N' for c in row['C20'][10:50]):
        return '01'
    elif row['C20'][0:10].count('Y') > 0 and all(c == 'N' for c in row['C20'][10:50]) and all(c == 'N' for c in b_row_14[15:50]):
        # do something
        return '01'

    # Wert: 20 - Ausschluss nur nach ESF-Statut
    if any(b_row_14[30:50].count("Y") > 0) and all(c == "N" for c in b_row_14[0:30]) and all(c == "N" for c in row['C20'][0:30]):
        return '20'
    elif any(row['C20'][30:50].count("Y") > 0) and all(c == 'N' for c in row['C20'][0:30]) and all(c == 'N' for c in b_row_14[0:30]):
        return '20'

    # Wert: 11 - Ausschluss "Bagatellgrenze" nach EinSiG und ESF-Statut
    if all(c == 'N' for c in row['C20'][1:49]) and row['C20'][49] == 'Y':
        return '11'

    # Wert: 10 - Ausschluss nach EinSiG und ESF-Statut (alle anderen Fälle)
    return '10'


B_Satz2
# Anwenden der Funktion auf den DataFrame
C_liab['C27'] = C_liab.apply(set_C27_value, axis=1)
C_liab['C27']

0      90
1      90
2      90
3      90
4      90
       ..
882    90
883    90
884    90
885    90
886    90
Name: C27, Length: 887, dtype: object

In [34]:
C_Satz = C_liab[["C1", "C2A", "C2B", "C3", "C4", "C5", "C6", "C7", "C8", "C9", "C10", "C11", "C12", "C13",
                 "C14", "C15", "C16", "C17", "C18", "C19", "C20", "C21", "C22", "C23", "C24", "C25", "C26", "C27"]]
# gewünschte C-Satz ausgeben
C_Satz

,C1,C2A,C2B,C3,C4,C5,C6,C7,C8,C9,...,C18,C19,C20,C21,C22,C23,C24,C25,C26,C27
0,C,DE1-ZGP/32965442,1502713637_2007,,N,0,20071009,Plus Konto VW,EUR,2553.97,...,0.0,2553.97,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,DE,,NaN,0,None,90
1,C,DE1-ZGP/37624918,1502715053_2007,,N,0,20071009,Plus Konto VW,EUR,7014.78,...,0.0,7014.78,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,DE,,NaN,0,None,90
2,C,DE1-ZGP/36267765,1502715103_2007,,N,0,20071009,Plus Konto VW,EUR,14.97,...,0.0,14.97,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,DE,,NaN,0,None,90
3,C,DE1-ZGP/36192094,1502715558_2007,,N,0,20071009,Plus Konto VW,EUR,27814.72,...,0.0,27814.72,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,DE,,NaN,0,None,90
4,C,DE1-ZGP/37625217,1502715962_2007,,N,0,20071009,Plus Konto VW,EUR,17.68,...,0.0,17.68,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,DE,,NaN,0,None,90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
882,C,DE1-ZGP/879064,1503754572_2007,,N,0,20071009,Plus Konto VW,EUR,89436.18,...,0.0,89436.18,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,DE,,NaN,0,None,90
883,C,DE1-ZGP/20913091,1503754929_2007,,N,0,20071009,Plus Konto VW,EUR,41.09,...,0.0,41.09,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,DE,,NaN,0,None,90
884,C,DE1-ZGP/29350481,1503754945_2007,,N,0,20071009,Plus Konto VW,EUR,29686.24,...,0.0,29686.24,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,DE,,NaN,0,None,90
885,C,DE1-ZGP/83319045,1503311415_2007,,N,0,20071009,Plus Konto VW,EUR,0.00,...,0.0,0.00,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,DE,,NaN,0,None,90
886,C,DE1-ZGP/83628474,1503313650_2007,,N,0,20071009,Plus Konto VW,EUR,1133.71,...,0.0,1133.71,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,DE,,NaN,0,None,90

In [35]:
Tab2 = C_Satz.groupby("C2B")
Tab2

In [36]:
Tab3 = Tab2["C2A"].count().reset_index(name="Anzahl Vertrag pro Kunde").sort_values(["Anzahl Vertrag pro Kunde"], ascending=False)
Tab3

                 C2B  Anzahl Vertrag pro Kunde
0    1502713637_2007                         1
596  1503288399_2007                         1
585  1503276345_2007                         1
586  1503277939_2007                         1
587  1503278150_2007                         1
..               ...                       ...
299  1502927757_2007                         1
300  1502928672_2007                         1
301  1502928912_2007                         1
302  1502929084_2007                         1
886  1503754945_2007                         1

[887 rows x 2 columns]

In [37]:
Tab4 = Tab3.loc[Tab3["Anzahl Vertrag pro Kunde"] == 1]  #hier sonst auf 2 ändern
Tab4

                 C2B  Anzahl Vertrag pro Kunde
0    1502713637_2007                         1
596  1503288399_2007                         1
585  1503276345_2007                         1
586  1503277939_2007                         1
587  1503278150_2007                         1
..               ...                       ...
299  1502927757_2007                         1
300  1502928672_2007                         1
301  1502928912_2007                         1
302  1502929084_2007                         1
886  1503754945_2007                         1

[887 rows x 2 columns]

In [38]:
Tab5 = C_Satz.loc[C_Satz["C2B"].isin(Tab4["C2B"])]
Tab5

,C1,C2A,C2B,C3,C4,C5,C6,C7,C8,C9,...,C18,C19,C20,C21,C22,C23,C24,C25,C26,C27
0,C,DE1-ZGP/32965442,1502713637_2007,,N,0,20071009,Plus Konto VW,EUR,2553.97,...,0.0,2553.97,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,DE,,NaN,0,None,90
1,C,DE1-ZGP/37624918,1502715053_2007,,N,0,20071009,Plus Konto VW,EUR,7014.78,...,0.0,7014.78,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,DE,,NaN,0,None,90
2,C,DE1-ZGP/36267765,1502715103_2007,,N,0,20071009,Plus Konto VW,EUR,14.97,...,0.0,14.97,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,DE,,NaN,0,None,90
3,C,DE1-ZGP/36192094,1502715558_2007,,N,0,20071009,Plus Konto VW,EUR,27814.72,...,0.0,27814.72,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,DE,,NaN,0,None,90
4,C,DE1-ZGP/37625217,1502715962_2007,,N,0,20071009,Plus Konto VW,EUR,17.68,...,0.0,17.68,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,DE,,NaN,0,None,90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
882,C,DE1-ZGP/879064,1503754572_2007,,N,0,20071009,Plus Konto VW,EUR,89436.18,...,0.0,89436.18,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,DE,,NaN,0,None,90
883,C,DE1-ZGP/20913091,1503754929_2007,,N,0,20071009,Plus Konto VW,EUR,41.09,...,0.0,41.09,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,DE,,NaN,0,None,90
884,C,DE1-ZGP/29350481,1503754945_2007,,N,0,20071009,Plus Konto VW,EUR,29686.24,...,0.0,29686.24,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,DE,,NaN,0,None,90
885,C,DE1-ZGP/83319045,1503311415_2007,,N,0,20071009,Plus Konto VW,EUR,0.00,...,0.0,0.00,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,DE,,NaN,0,None,90
886,C,DE1-ZGP/83628474,1503313650_2007,,N,0,20071009,Plus Konto VW,EUR,1133.71,...,0.0,1133.71,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,DE,,NaN,0,None,90

In [39]:

Tab6 = Tab5.groupby("C2B")["C2A"].apply(list).reset_index(name="Kunden_Nummern")
Tab6

                 C2B      Kunden_Nummern
0    1502713637_2007  [DE1-ZGP/32965442]
1    1502715053_2007  [DE1-ZGP/37624918]
2    1502715103_2007  [DE1-ZGP/36267765]
3    1502715558_2007  [DE1-ZGP/36192094]
4    1502715962_2007  [DE1-ZGP/37625217]
..               ...                 ...
882  1503751933_2007   [DE1-ZGP/1223238]
883  1503754317_2007  [DE1-ZGP/25771244]
884  1503754572_2007    [DE1-ZGP/879064]
885  1503754929_2007  [DE1-ZGP/20913091]
886  1503754945_2007  [DE1-ZGP/29350481]

[887 rows x 2 columns]

In [40]:
Tab7 = Tab6["C2B"].tolist()
Tab7

['1502713637_2007',
 '1502715053_2007',
 '1502715103_2007',
 '1502715558_2007',
 '1502715962_2007',
 '1502716705_2007',
 '1502717182_2007',
 '1502719246_2007',
 '1502719451_2007',
 '1502720418_2007',
 '1502720889_2007',
 '1502722398_2007',
 '1502725532_2007',
 '1502726076_2007',
 '1502726712_2007',
 '1502727165_2007',
 '1502727439_2007',
 '1502728072_2007',
 '1502728148_2007',
 '1502729757_2007',
 '1502729799_2007',
 '1502730219_2007',
 '1502730532_2007',
 '1502730664_2007',
 '1502730854_2007',
 '1502730979_2007',
 '1502731712_2007',
 '1502732215_2007',
 '1502733429_2007',
 '1502734542_2007',
 '1502735309_2007',
 '1502735333_2007',
 '1502735630_2007',
 '1502735952_2007',
 '1502737438_2007',
 '1502739467_2007',
 '1502741182_2007',
 '1502741372_2007',
 '1502742719_2007',
 '1502743907_2007',
 '1502744301_2007',
 '1502744830_2007',
 '1502745688_2007',
 '1502746611_2007',
 '1502747189_2007',
 '1502747767_2007',
 '1502748872_2007',
 '1502748922_2007',
 '1502749177_2007',
 '1502749599_2007',
 '1502749870_2007',
 '1502750738_2007',
 '1502751421_2007',
 '1502751819_2007',
 '1502753575_2007',
 '1502753633_2007',
 '1502754896_2007',
 '1502755190_2007',
 '1502756248_2007',
 '1502756511_2007',
 '1502762097_2007',
 '1502762295_2007',
 '1502762444_2007',
 '1502762592_2007',
 '1502763905_2007',
 '1502764424_2007',
 '1502764481_2007',
 '1502764770_2007',
 '1502771650_2007',
 '1502771700_2007',
 '1502778101_2007',
 '1502784505_2007',
 '1502784778_2007',
 '1502786849_2007',
 '1502786880_2007',
 '1502787169_2007',
 '1502787359_2007',
 '1502788852_2007',
 '1502790452_2007',
 '1502791336_2007',
 '1502791963_2007',
 '1502792151_2007',
 '1502792235_2007',
 '1502794660_2007',
 '1502795345_2007',
 '1502796038_2007',
 '1502796426_2007',
 '1502797192_2007',
 '1502797713_2007',
 '1502797846_2007',
 '1502798430_2007',
 '1502798521_2007',
 '1502800970_2007',
 '1502801663_2007',
 '1502802190_2007',
 '1502802588_2007',
 '1502802794_2007',
 '1502803362_2007',
 '1502803644_2007',
 '1502804238_2007',
 '1502804337_2007',
 '1502804535_2007',
 '1502805672_2007',
 '1502806555_2007',
 '1502807728_2007',
 '1502808213_2007',
 '1502808866_2007',
 '1502809559_2007',
 '1502812462_2007',
 '1502813015_2007',
 '1502813106_2007',
 '1502814237_2007',
 '1502814393_2007',
 '1502815002_2007',
 '1502815010_2007',
 '1502815143_2007',
 '1502815416_2007',
 '1502815499_2007',
 '1502815754_2007',
 '1502817222_2007',
 '1502817560_2007',
 '1502818055_2007',
 '1502819319_2007',
 '1502819368_2007',
 '1502820184_2007',
 '1502820218_2007',
 '1502821273_2007',
 '1502821687_2007',
 '1502822248_2007',
 '1502824152_2007',
 '1502824251_2007',
 '1502825464_2007',
 '1502825506_2007',
 '1502825910_2007',
 '1502826546_2007',
 '1502827916_2007',
 '1502827940_2007',
 '1502828096_2007',
 '1502828617_2007',
 '1502830118_2007',
 '1502830928_2007',
 '1502831587_2007',
 '1502832197_2007',
 '1502832247_2007',
 '1502832510_2007',
 '1502832619_2007',
 '1502833039_2007',
 '1502834250_2007',
 '1502834912_2007',
 '1502834995_2007',
 '1502835133_2007',
 '1502835208_2007',
 '1502835679_2007',
 '1502835828_2007',
 '1502836156_2007',
 '1502837238_2007',
 '1502837253_2007',
 '1502838350_2007',
 '1502839390_2007',
 '1502839457_2007',
 '1502839812_2007',
 '1502839945_2007',
 '1502839960_2007',
 '1502840687_2007',
 '1502842667_2007',
 '1502843137_2007',
 '1502843194_2007',
 '1502845611_2007',
 '1502845686_2007',
 '1502846163_2007',
 '1502847005_2007',
 '1502847054_2007',
 '1502847104_2007',
 '1502847732_2007',
 '1502848664_2007',
 '1502848789_2007',
 '1502849597_2007',
 '1502849795_2007',
 '1502850546_2007',
 '1502850793_2007',
 '1502850892_2007',
 '1502850934_2007',
 '1502851403_2007',
 '1502852773_2007',
 '1502852781_2007',
 '1502854167_2007',
 '1502854472_2007',
 '1502855099_2007',
 '1502855776_2007',
 '1502860297_2007',
 '1502860313_2007',
 '1502860800_2007',
 '1502862723_2007',
 '1502864042_2007',
 '1502864935_2007',
 '1502865403_2007',
 '1502866344_2007',
 '1502866815_2007',
 '1502867292_2007',
 '1502868696_2007',
 '1502869025_2007',
 '1502870569_2007',
 '1502870627_2007',
 '1502870650_2007',
 '1502871112_2007',
 '1502871278_2007',
 '1502872888_2007',
 '1502873183_2007',
 '1502873209_2007',
 '1502873530_2007',
 '1502873548_2007',
 '1502874199_2007',
 '1502874926_2007',
 '1502874959_2007',
 '1502875469_2007',
 '1502875584_2007',
 '1502875733_2007',
 '1502875857_2007',
 '1502876897_2007',
 '1502877309_2007',
 '1502878810_2007',
 '1502879099_2007',
 '1502879925_2007',
 '1502879990_2007',
 '1502880444_2007',
 '1502881749_2007',
 '1502881863_2007',
 '1502882341_2007',
 '1502882762_2007',
 '1502883430_2007',
 '1502883802_2007',
 '1502885948_2007',
 '1502886391_2007',
 '1502886680_2007',
 '1502886946_2007',
 '1502887175_2007',
 '1502887258_2007',
 '1502887381_2007',
 '1502890971_2007',
 '1502891177_2007',
 '1502893579_2007',
 '1502893751_2007',
 '1502894239_2007',
 '1502894569_2007',
 '1502894973_2007',
 '1502895079_2007',
 '1502895384_2007',
 '1502896416_2007',
 '1502896812_2007',
 '1502897133_2007',
 '1502897216_2007',
 '1502898677_2007',
 '1502900572_2007',
 '1502900861_2007',
 '1502901711_2007',
 '1502902123_2007',
 '1502902370_2007',
 '1502902776_2007',
 '1502903428_2007',
 '1502905167_2007',
 '1502905852_2007',
 '1502907288_2007',
 '1502908328_2007',
 '1502908955_2007',
 '1502908963_2007',
 '1502909334_2007',
 '1502910423_2007',
 '1502910639_2007',
 '1502910951_2007',
 '1502911165_2007',
 '1502911447_2007',
 '1502911561_2007',
 '1502912882_2007',
 '1502913658_2007',
 '1502913815_2007',
 '1502913989_2007',
 '1502915646_2007',
 '1502915984_2007',
 '1502916693_2007',
 '1502917147_2007',
 '1502917949_2007',
 '1502919549_2007',
 '1502919655_2007',
 '1502921024_2007',
 '1502921222_2007',
 '1502921271_2007',
 '1502921362_2007',
 '1502921370_2007',
 '1502921404_2007',
 '1502921917_2007',
 '1502922675_2007',
 '1502922758_2007',
 '1502923327_2007',
 '1502923335_2007',
 '1502925173_2007',
 '1502925454_2007',
 '1502926650_2007',
 '1502926692_2007',
 '1502927070_2007',
 '1502927757_2007',
 '1502928672_2007',
 '1502928912_2007',
 '1502929084_2007',
 '1502929241_2007',
 '1502929449_2007',
 '1502931981_2007',
 '1502932922_2007',
 '1502934217_2007',
 '1502934613_2007',
 '1502935644_2007',
 '1502935834_2007',
 '1502935958_2007',
 '1502936899_2007',
 '1502937939_2007',
 '1502938184_2007',
 '1502939059_2007',
 '1502939703_2007',
 '1502940131_2007',
 '1502940289_2007',
 '1502940297_2007',
 '1502942202_2007',
 '1502944182_2007',
 '1502944406_2007',
 '1502945171_2007',
 '1502946187_2007',
 '1502950213_2007',
 '1502950320_2007',
 '1502950429_2007',
 '1502950726_2007',
 '1502951153_2007',
 '1502951583_2007',
 '1502951880_2007',
 '1502952003_2007',
 '1502952094_2007',
 '1502952409_2007',
 '1502953076_2007',
 '1502954637_2007',
 '1502954769_2007',
 '1502956368_2007',
 '1502958802_2007',
 '1502959032_2007',
 '1502960295_2007',
 '1502960428_2007',
 '1502961210_2007',
 '1502961244_2007',
 '1502961426_2007',
 '1502961517_2007',
 '1502962028_2007',
 '1502962127_2007',
 '1502963554_2007',
 '1502963745_2007',
 '1502964396_2007',
 '1502965245_2007',
 '1502965880_2007',
 '1502966011_2007',
 '1502966672_2007',
 '1502967993_2007',
 '1502968215_2007',
 '1502968231_2007',
 '1502968678_2007',
 '1502968702_2007',
 '1502968975_2007',
 '1502969593_2007',
 '1502971201_2007',
 '1502971664_2007',
 '1502972613_2007',
 '1502972738_2007',
 '1502972779_2007',
 '1502972985_2007',
 '1502973066_2007',
 '1502973165_2007',
 '1502973777_2007',
 '1502974841_2007',
 '1502976762_2007',
 '1502976945_2007',
 '1502977471_2007',
 '1502977877_2007',
 '1502978651_2007',
 '1502978842_2007',
 '1502982224_2007',
 '1502983131_2007',
 '1502983891_2007',
 '1502984113_2007',
 '1502988049_2007',
 '1502989161_2007',
 '1502990011_2007',
 '1502990391_2007',
 '1502991373_2007',
 '1502992272_2007',
 '1502992835_2007',
 '1502992918_2007',
 '1502996216_2007',
 '1502996430_2007',
 '1502996588_2007',
 '1502997156_2007',
 '1502997693_2007',
 '1502997784_2007',
 '1502998535_2007',
 '1502999434_2007',
 '1503000000_2007',
 '1503000257_2007',
 '1503000521_2007',
 '1503000588_2007',
 '1503001941_2007',
 '1503002550_2007',
 '1503003947_2007',
 '1503004101_2007',
 '1503004135_2007',
 '1503004366_2007',
 '1503005850_2007',
 '1503006254_2007',
 '1503007575_2007',
 '1503007591_2007',
 '1503009159_2007',
 '1503009266_2007',
 '1503009803_2007',
 '1503011759_2007',
 '1503012732_2007',
 '1503012922_2007',
 '1503013961_2007',
 '1503014266_2007',
 '1503015719_2007',
 '1503016451_2007',
 '1503016741_2007',
 '1503016790_2007',
 '1503016949_2007',
 '1503019075_2007',
 '1503019182_2007',
 '1503020743_2007',
 '1503021345_2007',
 '1503022046_2007',
 '1503022624_2007',
 '1503023226_2007',
 '1503023820_2007',
 '1503024331_2007',
 '1503024414_2007',
 '1503024794_2007',
 '1503025015_2007',
 '1503025403_2007',
 '1503026096_2007',
 '1503026641_2007',
 '1503027466_2007',
 '1503028118_2007',
 '1503028415_2007',
 '1503028761_2007',
 '1503030312_2007',
 '1503030395_2007',
 '1503031179_2007',
 '1503031229_2007',
 '1503032524_2007',
 '1503033944_2007',
 '1503035014_2007',
 '1503036046_2007',
 '1503036400_2007',
 '1503037184_2007',
 '1503037259_2007',
 '1503037879_2007',
 '1503038877_2007',
 '1503039073_2007',
 '1503040162_2007',
 '1503043083_2007',
 '1503043455_2007',
 '1503044180_2007',
 '1503044552_2007',
 '1503044677_2007',
 '1503044784_2007',
 '1503045450_2007',
 '1503045757_2007',
 '1503047175_2007',
 '1503049262_2007',
 '1503051193_2007',
 '1503052613_2007',
 '1503052688_2007',
 '1503053843_2007',
 '1503054684_2007',
 '1503057067_2007',
 '1503057711_2007',
 '1503058776_2007',
 '1503059154_2007',
 '1503059410_2007',
 '1503063172_2007',
 '1503063941_2007',
 '1503064345_2007',
 '1503064493_2007',
 '1503065102_2007',
 '1503065748_2007',
 '1503066274_2007',
 '1503066639_2007',
 '1503067959_2007',
 '1503076570_2007',
 '1503077255_2007',
 '1503078584_2007',
 '1503079053_2007',
 '1503079103_2007',
 '1503080259_2007',
 '1503080531_2007',
 '1503081943_2007',
 '1503082453_2007',
 '1503082602_2007',
 '1503083162_2007',
 '1503084350_2007',
 '1503084608_2007',
 '1503084814_2007',
 '1503084871_2007',
 '1503087569_2007',
 '1503087916_2007',
 '1503089524_2007',
 '1503089821_2007',
 '1503091413_2007',
 '1503092353_2007',
 '1503093021_2007',
 '1503103853_2007',
 '1503103978_2007',
 '1503106799_2007',
 '1503107557_2007',
 '1503115709_2007',
 '1503116103_2007',
 '1503116475_2007',
 '1503116772_2007',
 '1503123547_2007',
 '1503126623_2007',
 '1503126797_2007',
 '1503127431_2007',
 '1503128157_2007',
 '1503128678_2007',
 '1503129221_2007',
 '1503130732_2007',
 '1503130773_2007',
 '1503131052_2007',
 '1503147934_2007',
 '1503149799_2007',
 '1503195495_2007',
 '1503196030_2007',
 '1503197103_2007',
 '1503197400_2007',
 '1503197905_2007',
 '1503201665_2007',
 '1503202051_2007',
 '1503202689_2007',
 '1503202929_2007',
 '1503203265_2007',
 '1503206300_2007',
 '1503207522_2007',
 '1503210286_2007',
 '1503211045_2007',
 '1503212282_2007',
 '1503213223_2007',
 '1503214304_2007',
 '1503215384_2007',
 '1503216531_2007',
 '1503218164_2007',
 '1503219022_2007',
 '1503222372_2007',
 '1503225656_2007',
 '1503227470_2007',
 '1503228932_2007',
 '1503229674_2007',
 '1503233205_2007',
 '1503233700_2007',
 '1503234831_2007',
 '1503235481_2007',
 '1503240507_2007',
 '1503240572_2007',
 '1503240606_2007',
 '1503240903_2007',
 '1503243857_2007',
 '1503244509_2007',
 '1503244921_2007',
 '1503246074_2007',
 '1503248799_2007',
 '1503251041_2007',
 '1503252619_2007',
 '1503252817_2007',
 '1503255885_2007',
 '1503256891_2007',
 '1503257303_2007',
 '1503257642_2007',
 '1503258236_2007',
 '1503259309_2007',
 '1503261073_2007',
 '1503261388_2007',
 '1503263830_2007',
 '1503272146_2007',
 '1503272534_2007',
 '1503273821_2007',
 '1503276345_2007',
 '1503277939_2007',
 '1503278150_2007',
 '1503278309_2007',
 '1503278903_2007',
 '1503280362_2007',
 '1503282459_2007',
 '1503283937_2007',
 '1503284752_2007',
 '1503285049_2007',
 '1503287938_2007',
 '1503288399_2007',
 '1503290882_2007',
 '1503293704_2007',
 '1503295261_2007',
 '1503295634_2007',
 '1503295683_2007',
 '1503295774_2007',
 '1503296442_2007',
 '1503298026_2007',
 '1503299107_2007',
 '1503299560_2007',
 '1503301150_2007',
 '1503301820_2007',
 '1503302695_2007',
 '1503303057_2007',
 '1503305623_2007',
 '1503307330_2007',
 '1503307843_2007',
 '1503311415_2007',
 '1503313650_2007',
 '1503316075_2007',
 '1503317354_2007',
 '1503325456_2007',
 '1503326256_2007',
 '1503326884_2007',
 '1503327007_2007',
 '1503327460_2007',
 '1503330399_2007',
 '1503334169_2007',
 '1503338467_2007',
 '1503338541_2007',
 '1503339796_2007',
 '1503340786_2007',
 '1503341156_2007',
 '1503341487_2007',
 '1503342048_2007',
 '1503342105_2007',
 '1503342758_2007',
 '1503343509_2007',
 '1503349076_2007',
 '1503351825_2007',
 '1503351882_2007',
 '1503352872_2007',
 '1503358622_2007',
 '1503358770_2007',
 '1503360263_2007',
 '1503361378_2007',
 '1503362178_2007',
 '1503362186_2007',
 '1503363598_2007',
 '1503364562_2007',
 '1503366179_2007',
 '1503367839_2007',
 '1503370478_2007',
 '1503371559_2007',
 '1503377044_2007',
 '1503377226_2007',
 '1503377234_2007',
 '1503380204_2007',
 '1503381152_2007',
 '1503381491_2007',
 '1503394429_2007',
 '1503416065_2007',
 '1503428664_2007',
 '1503429068_2007',
 '1503435404_2007',
 '1503435917_2007',
 '1503435933_2007',
 '1503437624_2007',
 '1503437806_2007',
 '1503438325_2007',
 '1503438556_2007',
 '1503438895_2007',
 '1503439679_2007',
 '1503439836_2007',
 '1503440040_2007',
 '1503441188_2007',
 '1503441535_2007',
 '1503445460_2007',
 '1503445882_2007',
 '1503447839_2007',
 '1503448712_2007',
 '1503449462_2007',
 '1503451468_2007',
 '1503452078_2007',
 '1503452318_2007',
 '1503452425_2007',
 '1503453464_2007',
 '1503456806_2007',
 '1503457945_2007',
 '1503460345_2007',
 '1503461772_2007',
 '1503461855_2007',
 '1503462978_2007',
 '1503463091_2007',
 '1503464131_2007',
 '1503464453_2007',
 '1503467134_2007',
 '1503468520_2007',
 '1503469155_2007',
 '1503469601_2007',
 '1503472035_2007',
 '1503477398_2007',
 '1503477448_2007',
 '1503477455_2007',
 '1503478909_2007',
 '1503479279_2007',
 '1503480889_2007',
 '1503481697_2007',
 '1503481770_2007',
 '1503481960_2007',
 '1503482182_2007',
 '1503482307_2007',
 '1503484188_2007',
 '1503486456_2007',
 '1503488379_2007',
 '1503488460_2007',
 '1503490656_2007',
 '1503494740_2007',
 '1503496737_2007',
 '1503497883_2007',
 '1503498261_2007',
 '1503499145_2007',
 '1503499566_2007',
 '1503500165_2007',
 '1503500934_2007',
 '1503501973_2007',
 '1503503029_2007',
 '1503503763_2007',
 '1503504993_2007',
 '1503506956_2007',
 '1503510545_2007',
 '1503511246_2007',
 '1503512111_2007',
 '1503514083_2007',
 '1503514422_2007',
 '1503516286_2007',
 '1503517631_2007',
 '1503518795_2007',
 '1503519827_2007',
 '1503522417_2007',
 '1503522557_2007',
 '1503523555_2007',
 '1503524181_2007',
 '1503524926_2007',
 '1503525212_2007',
 '1503525832_2007',
 '1503535153_2007',
 '1503535401_2007',
 '1503535450_2007',
 '1503536045_2007',
 '1503537829_2007',
 '1503541268_2007',
 '1503541342_2007',
 '1503542175_2007',
 '1503542639_2007',
 '1503543124_2007',
 '1503543413_2007',
 '1503547471_2007',
 '1503547588_2007',
 '1503547687_2007',
 '1503548818_2007',
 '1503549097_2007',
 '1503550269_2007',
 '1503550293_2007',
 '1503550335_2007',
 '1503550848_2007',
 '1503551861_2007',
 '1503552208_2007',
 '1503552703_2007',
 '1503552851_2007',
 '1503554451_2007',
 '1503555219_2007',
 '1503555383_2007',
 '1503558304_2007',
 '1503558825_2007',
 '1503559393_2007',
 '1503560011_2007',
 '1503560854_2007',
 '1503561191_2007',
 '1503561951_2007',
 '1503563304_2007',
 '1503564740_2007',
 '1503565218_2007',
 '1503565978_2007',
 '1503567404_2007',
 '1503573725_2007',
 '1503573857_2007',
 '1503576660_2007',
 '1503576801_2007',
 '1503577486_2007',
 '1503577874_2007',
 '1503578328_2007',
 '1503579037_2007',
 '1503579110_2007',
 '1503579649_2007',
 '1503579995_2007',
 '1503581710_2007',
 '1503583385_2007',
 '1503583393_2007',
 '1503585257_2007',
 '1503586115_2007',
 '1503587097_2007',
 '1503587725_2007',
 '1503588780_2007',
 '1503590588_2007',
 '1503590703_2007',
 '1503591149_2007',
 '1503591248_2007',
 '1503592139_2007',
 '1503593251_2007',
 '1503595868_2007',
 '1503596668_2007',
 '1503596940_2007',
 '1503597708_2007',
 '1503600577_2007',
 '1503601575_2007',
 '1503602003_2007',
 '1503604355_2007',
 '1503604710_2007',
 '1503605055_2007',
 '1503605881_2007',
 '1503618611_2007',
 '1503618959_2007',
 '1503619577_2007',
 '1503641100_2007',
 '1503641209_2007',
 '1503642496_2007',
 '1503643635_2007',
 '1503643908_2007',
 '1503645366_2007',
 '1503654087_2007',
 '1503659573_2007',
 '1503661009_2007',
 '1503661314_2007',
 '1503661611_2007',
 '1503662288_2007',
 '1503663427_2007',
 '1503663500_2007',
 '1503664318_2007',
 '1503665976_2007',
 '1503666651_2007',
 '1503669028_2007',
 '1503669325_2007',
 '1503669531_2007',
 '1503669796_2007',
 '1503670513_2007',
 '1503670653_2007',
 '1503673152_2007',
 '1503673319_2007',
 '1503673475_2007',
 '1503674598_2007',
 '1503675942_2007',
 '1503676007_2007',
 '1503676767_2007',
 '1503677096_2007',
 '1503679464_2007',
 '1503679472_2007',
 '1503690495_2007',
 '1503711820_2007',
 '1503716977_2007',
 '1503717447_2007',
 '1503718692_2007',
 '1503728725_2007',
 '1503729673_2007',
 '1503730515_2007',
 '1503731240_2007',
 '1503731315_2007',
 '1503731679_2007',
 '1503732735_2007',
 '1503735829_2007',
 '1503737056_2007',
 '1503737510_2007',
 '1503737924_2007',
 '1503738286_2007',
 '1503743997_2007',
 '1503745323_2007',
 '1503745471_2007',
 '1503749754_2007',
 '1503749895_2007',
 '1503750307_2007',
 '1503750323_2007',
 '1503750430_2007',
 '1503750794_2007',
 '1503750885_2007',
 '1503750976_2007',
 '1503751933_2007',
 '1503754317_2007',
 '1503754572_2007',
 '1503754929_2007',
 '1503754945_2007']

In [41]:
Num = Tab7[0]
Num

'1502713637_2007'

In [42]:
Tab8 = C_Satz.loc[C_Satz["C2B"] == Num]
Tab8

,C1,C2A,C2B,C3,C4,C5,C6,C7,C8,C9,...,C18,C19,C20,C21,C22,C23,C24,C25,C26,C27
0,C,DE1-ZGP/32965442,1502713637_2007,,N,0,20071009,Plus Konto VW,EUR,2553.97,...,0.0,2553.97,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,DE,,NaN,0,None,90

In [43]:
#
Tab9 = Tab8.groupby("C2A")["C2B"].apply(list).reset_index(name="Vertrag_Nummern")
Tab9

                C2A    Vertrag_Nummern
0  DE1-ZGP/32965442  [1502713637_2007]

In [44]:
x = C_Satz.loc[(C_Satz["C2A"] == 'DE1-ZGP/13233006')]
x
################++++++ Definition des C-Satzes(Contract) +++++##############

,C1,C2A,C2B,C3,C4,C5,C6,C7,C8,C9,...,C18,C19,C20,C21,C22,C23,C24,C25,C26,C27
148,C,DE1-ZGP/13233006,1502923327_2007,,N,0,20071009,Plus Konto VW,EUR,21453.99,...,0.0,21453.99,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,DE,,NaN,0,None,90

In [45]:
C_Satz.to_csv(path+"/C.csv", index=False)

In [46]:
#drop all rows where B2 is empty
B_Satz2.dropna(subset=["B2", "B3"], inplace=True)
B_Satz2.to_csv(path+"/B.csv", index=False)

In [47]:
A_Satz.to_csv(path+"/A.csv", index=False)

In [53]:
import time

In [65]:
t_0 = time.time()

DF_CONTR = pd.read_csv(path + "/CONTR.csv", sep="\t", skiprows=9, decimal=".")

print("Das Einlesen dauerte:", time.time() - t_0, "Sekunden")

C:\Users\Carina\AppData\Local\Temp\ipykernel_31156\3248816588.py:3: DtypeWarning: Columns (11,18,24,53,54,59,69,72,74,76,86,116,119) have mixed types. Specify dtype option on import or set low_memory=False.
  DF_CONTR = pd.read_csv(path+"/CONTR.csv", sep ="\t", skiprows = 9, decimal = ".")

Das Einlesen dauerte: 1.1031503677368164 Sekunden

In [66]:
DF_merg6 = DF_CONTR.merge(DF_PRO, left_on="KDW0046A", right_on="KMDPRODID", how="left")  #????

DF_merg6

,KDW0034O,KDW0034,KDW0717,KDW0719,TPDW0529,SDW0050,TPDW0027,DTDW0036,DTDW0039,DTDW0240,...,DTDW3987,TPDW3986,TPDW3995,DTDW3988,KMDORIGID,KMDPRODID,FMDACTIVE,KMDPROTYP,TPMDPRCD,DSMDPRODN
0,DE1-BCA,1500603715_2004,DE1D-20230612-1-INT1,DE1D,C,OG,DB,20040216.0,20040216.0,99991231,...,NaN,N,M1,NaN,DE1-REF,DE-Z174-ZBK112,1,02.02.2001,NaN,Volkswagen VISA Card
1,DE1-BCA,1500665763_2004,DE1D-20230612-1-INT1,DE1D,C,OG,DB,20040326.0,20040326.0,99991231,...,NaN,N,M1,NaN,DE1-REF,DE-Z174-ZBK112,1,02.02.2001,NaN,Volkswagen VISA Card
2,DE1-BCA,1500829401_2004,DE1D-20230612-1-INT1,DE1D,C,OG,DB,20041103.0,20041103.0,99991231,...,NaN,N,M1,NaN,DE1-REF,DE-Z174-ZBK112,1,02.02.2001,NaN,Volkswagen VISA Card
3,DE1-BCA,1500831019_2004,DE1D-20230612-1-INT1,DE1D,C,OG,DB,20041109.0,20041109.0,99991231,...,20150102.0,N,M1,NaN,DE1-REF,DE-Z174-ZBK112,1,02.02.2001,NaN,Volkswagen VISA Card
4,DE1-BCA,1500836257_2004,DE1D-20230612-1-INT1,DE1D,C,OG,DB,20041123.0,20041123.0,99991231,...,20150102.0,N,M1,NaN,DE1-REF,DE-Z174-ZBK112,1,02.02.2001,NaN,Volkswagen VISA Card
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172192,TRSRYDE1-4160-C,DD724381EDE108EF1D0B82D608C9681F,DE1D-20230612-1-INT1,DE1D,NaN,OG,NaN,20210128.0,20210201.0,20241101,...,20210201.0,N,BL,NaN,DE1-REF,DE-Z720-00055C-4160,1,08.02.2004,55C,Festsatzdarlehen
172193,TRSRYDE1-4160-C,DDEFABDBC4A7F79F3A4CDD91BE7FA51E,DE1D-20230612-1-INT1,DE1D,NaN,OG,NaN,20190722.0,20190724.0,20231017,...,20190724.0,N,BL,NaN,DE1-REF,DE-Z720-00055C-4160,1,08.02.2004,55C,Festsatzdarlehen
172194,TRSRYDE1-4160-C,DE9705C63FF20B984B4EE74A621271AE,DE1D-20230612-1-INT1,DE1D,NaN,OG,NaN,20221024.0,20221026.0,20230727,...,20221026.0,N,ZC,NaN,DE1-REF,DE-Z716-00051B-4160,1,08.02.2002,51B,Termingeld
172195,TRSRYDE1-4160-C,DEB0C015B86E135887073E0539C5CF96,DE1D-20230612-1-INT1,DE1D,NaN,OG,NaN,20221101.0,20221101.0,20230703,...,20221101.0,N,BL,NaN,DE1-REF,DE-Z730-00055O-4160,1,NON_NPP,55O,Collateral
172196,TRSRYDE1-4160-C,DEBB2168776FCED4167ACACDB6DEAFC7,DE1D-20230612-1-INT1,DE1D,NaN,OG,NaN,20221128.0,20221129.0,20280518,...,20221129.0,N,BL,NaN,DE1-REF,DE-Z720-00055C-4160,1,08.02.2004,55C,Festsatzdarlehen

In [67]:
C_CONT = pd.DataFrame([[''] * 27], index=range(0, 1460610), columns=["C{}".format(i) for i in range(1, 28)])
C_CONT["C1"] = "C"
C_CONT["C2B"] = DF_CONTR["KDW0034"]
C_CONT.dropna(subset="C2B", inplace=True)
DF = DF_BPact[DF_BPact["TPDW5090"] == "DB"]
DF = DF[["KDWR5089", "KDWR5088"]]

In [68]:
###++++ Definition des C_Satzes für die Contract Entität +++++###########
C_CONT = C_CONT.merge(DF, left_on="C2B", right_on="KDWR5089", how="inner")

#rename KDWR5088 to C2A

C_CONT.rename(columns={"KDWR5088": "C2A"}, inplace=True)

C_CONT["C4"] = "N"
C_CONT["C5"] = func_neu_C5(DF_Liab, DF_BPact, "KDW5082", "KDWR5089", "TPDW5090")
C_CONT["C6"] = naechsterwert2(DF_CONTR, "KDW0034", "DTDW0039")  # ["DTDW5113" for "DTDW5113" in DF_Liab.set_index("KDW5082").columns]  # DF_Liab["DTDW5113"].sort_values("KDW5082")                                        #S-Verweis: Suche aus PLIABA den Vertrag (KYDW5082) und das dazugehörige Datum DTDW5113 und schreibe es in C6
C_CONT["C7"] = naechsterwert2(DF_merg6, "KDW0034", "DSMDPRODN")  # Sverweis(DF_Liab,DF_PRO, "KDW5082", "KDWR5097", DF_Liab, DF_PRO,"KMDPRODID", "TPMDPPRCD", "KDW5082" )
C_CONT["C8"] = naechsterwert2(DF_CONTR, "KDW0034", "UDW3567")
C_CONT["C9"] = naechsterwert2(DF_CONTR, "KDW0034", "ADW3567").apply(lambda string: string.replace(",", ".")).astype(float).apply(lambda x: -x if x != 0 else x)  # DF_Liab[DF_Liab["KDW5082"].isin(DF_Liab["KDW5082"])]DF_Liab["ATDW5105"].apply(lambda x: -x if x > 0 else x)
C_CONT["C10"] = "{:,.5f}".format(100000 / 100000)  # naechsterwert2(DF_CONTR, "KDW5082", "TPDW5086")
C_CONT["C11"] = C_liab["C9"].astype(float) * C_liab["C10"].astype(float)
C_CONT["C12"] = naechsterwert2(DF_Liab, "KDW5082", "QUDW5537").astype(str) + DF_Liab["UCDW5537"]
C_CONT["C13"] = "X"
C_CONT["C14"] = "X"  # naechsterwert2(DF_CONTR, "KDW5082", "DTDW5084")
C_CONT["C15"] = "X"
C_CONT["C16"] = "X"  # naechsterwert2(DF_CONTR, "KDW5082", "TPDW5562")
C_CONT["C17"] = naechsterwert2(DF_Liab, "KDW5082", "ATDW5107").apply(lambda x: -x if x != 0 else x)
C_CONT["C18"] = "X"
C_CONT["C19"] = "X"
C_CONT["C20"] = "N" * 50  # C_Pos[["C_Pos{}".format(i) for i in range(1, 51)]].astype(str).agg("".join, axis = 1)                                                                    # C_Pos[["C_Pos{}".format(i) for i in range(1, 51)]].astype(str).agg("".join, axis = 1)
C_CONT["C21"] = "N" * 50  # C_Pos[["C_Pos{}".format(i) for i in range(1, 51)]].astype(str).agg("".join, axis = 1)
C_CONT["C22"] = "DE"
C_CONT["C23"] = ""
C_CONT["C24"] = "X"
C_CONT["C25"] = "X"
C_CONT["C26"] = "X"
C_CONT["C27"] = "X"

C_CONT

,C1,C2,C3,C4,C5,C6,C7,C8,C9,C10,...,C21,C22,C23,C24,C25,C26,C27,C2B,KDWR5089,C2A
0,C,,,N,0,20040216.0,Volkswagen VISA Card,EUR,0.00,1.00000,...,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,DE,,X,X,X,X,1501368870_2006,1501368870_2006,43964308
1,C,,,N,0,20040326.0,Volkswagen VISA Card,EUR,0.00,1.00000,...,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,DE,,X,X,X,X,1501376014_2006,1501376014_2006,43964308
2,C,,,N,0,20041103.0,Volkswagen VISA Card,EUR,0.00,1.00000,...,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,DE,,X,X,X,X,1502388752_2007,1502388752_2007,43964308
3,C,,,N,0,20041109.0,Volkswagen VISA Card,EUR,0.00,1.00000,...,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,DE,,X,X,X,X,1503404301_2007,1503404301_2007,43964308
4,C,,,N,0,20041123.0,Volkswagen VISA Card,EUR,-1898.19,1.00000,...,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,DE,,X,X,X,X,1504304526_2008,1504304526_2008,43964308
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3825,C,,,N,0,20201028.0,Skoda VISA Card,EUR,0.00,1.00000,...,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,DE,,X,X,X,X,8900562441_2020_4160,8900562441_2020_4160,43964308
3826,C,,,N,0,20201028.0,Skoda VISA Card,EUR,0.00,1.00000,...,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,DE,,X,X,X,X,8920208603_2007_4160,8920208603_2007_4160,43964308
3827,C,,,N,0,20201028.0,Skoda VISA Card,EUR,0.00,1.00000,...,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,DE,,X,X,X,X,8920218289_2010_4160,8920218289_2010_4160,43964308
3828,C,,,N,0,20201028.0,Skoda VISA Card,EUR,-180.00,1.00000,...,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,DE,,X,X,X,X,8920279091_2021_4160,8920279091_2021_4160,43964308
3829,C,,,N,0,20201028.0,Skoda VISA Card,EUR,-41.73,1.00000,...,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,DE,,X,X,X,X,8920426254_2015_4160,8920426254_2015_4160,43964308

,C1,C2A,C2B,C3,C4,C5,C6,C7,C8,C9,...,C18,C19,C20,C21,C22,C23,C24,C25,C26,C27
0,C,DE1-ZGP/32965442,1502713637_2007,,N,0,20071009,Plus Konto VW,EUR,2553.97,...,0.0,2553.97,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,DE,,NaN,0,None,90
1,C,DE1-ZGP/37624918,1502715053_2007,,N,0,20071009,Plus Konto VW,EUR,7014.78,...,0.0,7014.78,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,DE,,NaN,0,None,90
2,C,DE1-ZGP/36267765,1502715103_2007,,N,0,20071009,Plus Konto VW,EUR,14.97,...,0.0,14.97,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,DE,,NaN,0,None,90
3,C,DE1-ZGP/36192094,1502715558_2007,,N,0,20071009,Plus Konto VW,EUR,27814.72,...,0.0,27814.72,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,DE,,NaN,0,None,90
4,C,DE1-ZGP/37625217,1502715962_2007,,N,0,20071009,Plus Konto VW,EUR,17.68,...,0.0,17.68,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,DE,,NaN,0,None,90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5599,C,DE1-ZGP/879064,1503754572_2007,,N,0,20071009,Plus Konto VW,EUR,89436.18,...,0.0,89436.18,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,DE,,NaN,0,None,90
5600,C,DE1-ZGP/20913091,1503754929_2007,,N,0,20071009,Plus Konto VW,EUR,41.09,...,0.0,41.09,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,DE,,NaN,0,None,90
5601,C,DE1-ZGP/29350481,1503754945_2007,,N,0,20071009,Plus Konto VW,EUR,29686.24,...,0.0,29686.24,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,DE,,NaN,0,None,90
5602,C,DE1-ZGP/83319045,1503311415_2007,,N,0,20071009,Plus Konto VW,EUR,0.00,...,0.0,0.0,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,DE,,NaN,0,None,90
5603,C,DE1-ZGP/83628474,1503313650_2007,,N,0,20071009,Plus Konto VW,EUR,1133.71,...,0.0,1133.71,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...,DE,,NaN,0,None,90

In [ ]:
def C_20_Pos12(row):
    temp_list = list(row["C20"])
    temp_list[11] = "Y" if row["C20"][1] == "Y" and row["C21"][17] == "N" else "N"
    return ''.join(temp_list)


C_Satz["C20"] = C_Satz.apply(C_20_Pos12, axis=1)

In [ ]:
def C_20_Pos13(row):
    B_Satz2Row = B_Satz2.loc[B_Satz2["B2"] == row["C2A"]].iloc[0]
    temp_list = list(row["C20"])
    print((B_Satz2Row["B14"]))
    temp_list[12] = "Y" if B_Satz2Row["B14"][1] == "Y" and row["C21"][17] == "N" else "N"
    return ''.join(temp_list)


C_Satz["C20"] = C_Satz.apply(C_20_Pos13, axis=1)

In [ ]:
def C_20_Pos14(row):
    B_Satz2Row = B_Satz2.loc[B_Satz2["B2"] == row["C2A"]].iloc[0]
    temp_list_13 = list(row["C20"])
    temp_list_13[13] = "Y" if B_Satz2Row["B14"][4] == "Y" and row["C21"][17] == "N" else "N"
    return ''.join(temp_list_13)


C_Satz["C20"] = C_Satz.apply(C_20_Pos14, axis=1)

In [ ]:
def C_20_Pos15(row):
    B_Satz2Row = B_Satz2.loc[B_Satz2["B2"] == row["C2A"]].iloc[0]
    temp_list_14 = list(row["C20"])
    temp_list_14[14] = "Y" if B_Satz2Row["B14"][5] == "Y" and row["C21"][17] == "N" else "N"
    return ''.join(temp_list_14)


C_Satz["C20"] = C_Satz.apply(C_20_Pos15, axis=1)

In [ ]:
def C_20_Pos16(row):
    B_Satz2Row = B_Satz2.loc[B_Satz2["B2"] == row["C2A"]].iloc[0]
    temp_list_15 = list(row["C20"])
    temp_list_15[15] = "Y" if B_Satz2Row["B14"][9] == "Y" and row["C21"][17] == "N" else "N"
    return ''.join(temp_list_15)


C_Satz["C20"] = C_Satz.apply(C_20_Pos16, axis=1)

In [ ]:
#LAUT ANAEL WEGLASSEN!
def C_20_Pos31(row):
    B_Satz2Row = B_Satz2.loc[B_Satz2["B2"] == row["C2A"]].iloc[0]
    row["C20"][30] = "Y" if B_Satz2Row["B14"][9] == "Y" and row["C21"][17] == "N" else "N"


#LAUT ANAEL WEGLASSEN!
def C_20_Pos32(row):
    B_Satz2Row = B_Satz2.loc[B_Satz2["B2"] == row["C2A"]].iloc[0]
    row["C20"][31] = "Y" if B_Satz2Row["B14"][9] == "Y" and row["C21"][17] == "N" else "N"

In [ ]:
def C_20_Pos33(row):
    B_Satz2Row = B_Satz2.loc[B_Satz2["B2"] == row["C2A"]].iloc[0]
    temp_list_32 = list(row["C20"])
    temp_list_32[32] = "Y" if B_Satz2Row["B16"] >= 20 and row["C21"][17] == "N" else "N"
    return ''.join(temp_list_32)


C_Satz["C20"] = C_Satz.apply(C_20_Pos33, axis=1)

In [ ]:
def C_20_Pos34(row):
    B_Satz2Row = B_Satz2.loc[B_Satz2["B2"] == row["C2A"]].iloc[0]
    if B_Satz2Row["B16"] >= 20:
        #dateformat = dd-mm-yyyy
        date_start = datetime.strptime(row["C6"], "%d%m%Y")
        date_end = datetime.strptime(row["C14"], "%d%m%Y")
        temp_list_33 = list(row["C20"])
        temp_list_33[33] = "Y" if row["C25"] > 18 and date_start < datetime.strptime("01-01-2020", "%d-%m-%Y") and date_end > datetime.strptime("31-12-2019", "%d-%m-%Y") else "N"
        return ''.join(temp_list_33)


C_Satz["C20"] = C_Satz.apply(C_20_Pos34, axis=1)

In [ ]:
def C_20_Pos35(row):
    B_Satz2Row = B_Satz2.loc[B_Satz2["B2"] == row["C2A"]].iloc[0]
    if B_Satz2Row["B16"] >= 20:
        #dateformat = dd-mm-yyyy
        date_start = datetime.strptime(row["C6"], "%d%m%Y")
        date_end = datetime.strptime(row["C14"], "%d%m%Y")
        temp_list_34 = list(row["C20"])
        temp_list_34[34] = "Y" if row["C25"] > 18 and date_start > datetime.strptime("31-12-2019", "%d-%m-%Y") and date_start <= datetime.strptime("31-12-2022", "%d-%m-%Y") else "N"
        return ''.join(temp_list_34)


C_Satz["C20"] = C_Satz.apply(C_20_Pos35, axis=1)

In [ ]:
def C_20_Pos36(row):
    B_Satz2Row = B_Satz2.loc[B_Satz2["B2"] == row["C2A"]].iloc[0]
    if B_Satz2Row["B16"] >= 20:
        #dateformat = dd-mm-yyyy
        date_start = datetime.strptime(row["C6"], "%d%m%Y")
        date_end = datetime.strptime(row["C14"], "%d%m%Y")
        temp_list_35 = list(row["C20"])
        temp_list_35[35] = "Y" if (row["C25"] is None or row["C25"] == "") and date_start < datetime.strptime("01-01-2020", "%d-%m-%Y") and date_end > datetime.strptime("31-12-2019", "%d-%m-%Y") else "N"
    return ''.join(temp_list_35)


C_Satz["C20"] = C_Satz.apply(C_20_Pos36, axis=1)

In [ ]:
def C_20_Pos37(row):
    B_Satz2Row = B_Satz2.loc[B_Satz2["B2"] == row["C2A"]].iloc[0]
    if B_Satz2Row["B16"] >= 20:
        #dateformat = dd-mm-yyyy
        date_start = datetime.strptime(row["C6"], "%d%m%Y")
        temp_list_36 = list(row["C20"])
        temp_list_36[36] = "Y" if (row["C25"] is None or row["C25"] == "") and date_start > datetime.strptime("31-12-2019", "%d-%m-%Y") and date_start <= datetime.strptime("31-12-2022", "%d-%m-%Y") else "N"
        return ''.join(temp_list_36)


C_Satz["C20"] = C_Satz.apply(C_20_Pos37, axis=1)

In [ ]:
def C_20_Pos43(row):
    if row["C21"][19] == "N":
        #dateformat = dd-mm-yyyy

        temp_list_42 = list(row["C20"])
        temp_list_42[42] = "Y" if (row["C22"] != "" and row["C22"] is not None and row["C22"] != "DE") or (row["C23"] != "" and row["C23"] is not None) else "N"
        return ''.join(temp_list_42)


C_Satz["C20"] = C_Satz.apply(C_20_Pos43, axis=1)

In [ ]:
def C_20_Pos44(row):
    B_Satz2Row = B_Satz2.loc[B_Satz2["B2"] == row["C2A"]].iloc[0]
    if B_Satz2Row["B16"] >= 20 and row["C21"][19] == "N":
        temp_list_43 = list(row["C20"])
        temp_list_43[43] = "Y" if row["C25"] > 12 else "N"
        return ''.join(temp_list_43)


C_Satz["C20"] = C_Satz.apply(C_20_Pos44, axis=1)

In [ ]:
def C_20_Pos45(row):
    B_Satz2Row = B_Satz2.loc[B_Satz2["B2"] == row["C2A"]].iloc[0]
    if B_Satz2Row["B16"] >= 20 and row["C21"][19] == "N":
        temp_list_44 = list(row["C20"])
        temp_list_44[44] = "Y" if row["C25"] is None or row["C25"] == "" else "N"
        return ''.join(temp_list_44)


C_Satz["C20"] = C_Satz.apply(C_20_Pos45, axis=1)

In [ ]:
def C_20_Pos50(row):
    temp_list_49 = list(row["C20"])
    temp_list_49[49] = "Y" if row["C19"] < 20 else "N"
    return ''.join(temp_list_49)


C_Satz["C20"] = C_Satz.apply(C_20_Pos50, axis=1)
C_Satz

In [79]:
C_CONT = C_CONT[["C1", "C2A", "C2B", "C3", "C4", "C5", "C6", "C7", "C8", "C9", "C10", "C11", "C12", "C13",
                 "C14", "C15", "C16", "C17", "C18", "C19", "C20", "C21", "C22", "C23", "C24", "C25", "C26", "C27"]]
# gewünschte C-Satz ausgeben
C_CONT

In [ ]:
# füge die daten von C_Satz über die von C_CONT an
C_neu = pd.concat([C_Satz, C_CONT], ignore_index=True)
C_neu
C_neu.to_csv(path+"/C.csv", index=False)